<!DOCTYPE html>
{% load static %}  <!-- в Django статика подгружается таким образом. Подгружается она 1 раз в базовом шаблоне-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Voevoda APP</title>
    <link rel="stylesheet" type="text/css" href="{% static 'voevoda_app/css/style.css' %}">
</head>
<body>
    <!-- Проверяем авторизован ли пользователь
     Внутрь каждого шаблона если пользователь авторизован передается объект
     session = {
        voevoda_id: int (целочисленное значение),
        name: str (строковое значение),
        clan_id: int (целочисленное значение),
        sub_person_id: int (целочисленное значение)
     }
     Если данные значения есть в шаблоне, то система считает что пользователь
     авторизован и рендерит содержание блока который был вызван
     -->
    {% if request.session.voevoda_id %}
    <center>
    <div class="sh_container" style="z-index: 100">
        <div class="sh_extra sh_extra_left">
            <div class="mm_extra_l short"></div><div class="mm_extra_r"></div>
            <div id="current-time"></div>
        </div>
    
        <div class="sh_extra sh_extra_right">
            <div class="mm_extra_l ll"></div>
            <div class="social-links">
                <a href="https://t.me/" target="_blank">
                    <img src="{% static 'voevoda_app/images/telegram-icon.png' %}" alt="Telegram" style="width: 20px; height: 20px; margin-top:6px">
                </a>
            </div>
            <div class="social-links">
                <a href="mailto:email@example.com">
                    <img src="{% static 'voevoda_app/images/email-icon.png' %}" alt="Email" style="width: 24px; height: 24px; margin-top:3px">
                </a>
            </div>
            <div class="mm_extra_r rr short"></div>

            </div>
        <div class="sh_ResourcesPanel_container">
            <div id="AuthPanel" class="sh_ResourcesPanel sh_AuthPanel"><span><b>Пользователь авторизован</b> </span>
            </div>	
        </div>
    </div>
    </center>
    {% block content %}
    {% endblock %}
    {% else %}
        <div class="global_container_block"><div class="global_container_block_header"><h1 style="font-size:inherit; line-height: 0px;">Требуется авторизация</h1></div>
        <form id="access_code_form">
            <label> Ваше имя: <input type="text" id="name" placeholder="Имя"></input></label>
            <button type="submit" id="generate_access_code_btn">Отправить</button>
        </form>
        <form id="validate_code_form" style="display: none;">
            <label> Код доступа: <input type="text" id="code" placeholder="Код"></input></label>
            <button type="submit" id="validate_access_code_btn">Отправить код</button>
        </form>
    </div>
    {% endif %}
</body>
<script type="text/javascript" src={% static "voevoda_app/js/script.js" %}></script>
</html>