{% extends 'base.html' %}

{% block content %}
        <div>CLAN {{clan_id}}</div>
        {{ my }}
        <!--
                {{clan_id}} в данной переменной
                1)Делаем запрос для получения данных клана
                        url: http://127.0.0.1:8000/api/clans/
                        type: GET
                        params: clan_id={{ clan_id }}

                        ОТВЕТ:
                        data: {
                                "id": Целочисленное значение,
                                "name": Строковое значение,
                                "label": url адрес гифки, которую нужно отрендерить + под гифку спрятать ссылку https://www.heroeswm.ru/clan_info.php?id=[ID из поля выше],
                                "alliance": null или {
                                        "id": Целочисленное значение,
                                        "name": Строковое значение,
                                        "label": url адрес гифки, которую нужно отрендерить + под гифку спрятать ссылку https://www.heroeswm.ru/clan_info.php?id=[ID из поля выше]
                                 }
                        }
                 2)Запрашиваем список всех игроков данного клана
                        url: http://127.0.0.1:8000/api/players/
                        type: GET
                        params: clan_id={{ clan_id }}

                        ОТВЕТ:
                        data: [
                                {
                                    "id": целочисленное значение,
                                    "name": строковое значение, спрятать ссылку https://www.heroeswm.ru/pl_info.php?id=[ID из поля выше],
                                    "level": целочисленное значение,
                                    "clan": целочисленное значение, - его отображать не нужно
                                    "umka_knight": целочисленное значение,
                                    "umka_necro": целочисленное значение,
                                    "umka_mag": целочисленное значение,
                                    "umka_elf": целочисленное значение,
                                    "umka_barbar": целочисленное значение,
                                    "umka_black_elf": целочисленное значение,
                                    "umka_demon": целочисленное значение,
                                    "umka_dwarf": целочисленное значение,
                                    "umka_step_barb": целочисленное значение,
                                    "umka_pharaon": целочисленное значение,
                                    "gild_hunt": целочисленное значение,
                                    "gild_work": целочисленное значение,
                                    "gild_card": целочисленное значение,
                                    "gild_thief": целочисленное значение,
                                    "gild_ranger": целочисленное значение,
                                    "gild_mers": целочисленное значение,
                                    "gild_tactic": целочисленное значение,
                                    "gild_gard": целочисленное значение,
                                    "gild_seekers": целочисленное значение,
                                    "gild_leader": целочисленное значение,
                                    "gild_blacksmith": целочисленное значение,
                                    "gild_gunsmith": целочисленное значение
                                    "person_id": целочисленное значение (мы смотрим на переменную {{ my }}. Если она true
                                    и person_id == null, то делаем кнопку "ПРИГЛАСИТЬ"
                                    при нажатии на кнопку "ПРИГЛАСИТЬ" отправляем запрос
                                        url = "http://127.0.0.1:8000/api/keys/"
                                        type: GET
                                        params = {
                                                "sub_key": "person",
                                                "role": 100,
                                                "player_id": "id",
                                                "voevoda_id": request.session.voevoda_id
                                        }

                                        ОТВЕТ:
                                        в data прийдет 6-значный код, который нужно вывести на экран

                                    если значение person_id,
                                    то там ссылка, которая ведет на "{% url 'player' %}?player_id=4"

                                    если же переменная {{ my }} равна false, то ничего не делаем

                                },
                        ]
                        Рендерим данные о клане. Рендерим кол-во игроков. Рендерим таблицу с игроками и фильтруем по убывания по
                        переменной level
        -->
        <div class="url_box">
                <a href="{% url 'player' %}?player_id=4" >Игрок</a>
        </div>
{% endblock %}