{% extends 'base.html' %}

{% block content %}
        <div>Event</div>
        {{ event_data }}
        <!--
            СИТУАЦИЯ 1 - когда создаешь новый ИВЕНТ

            Если переменная event_data пустая, то создаем форму
                "name": для строкового значения,
                "type": целочисленное значение, (заменить на слова. 1 - Атака, 2 - Защита),
                "date": выбор даты и выбор времени,
                "enemy": Текстовое поле. Когда в него вводишь символы (не менее 3-х), то с задержкой в 2 секунды отправляется запрос
                  url = "http://127.0.0.1:8000/api/clans"
                  params = {
                          "clan_name": введенные символы
                  }
                  После того как пользователь выбрал клан - рендеришь его гифку и название
            После формы зарендерить кнопку "СОЗДАТЬ ИВЕНТ"
            По нажатию на кнопку отправляется запрос
              url: http://127.0.0.1:8000/api/events/
              type: POST
              body: {
                  "voevoda_id": request.session.voevoda_id,
                  "date": значение переменной date, которую ввел пользователь преобразованную в timestampt
                  "enemy": id enemy который выбрал пользователь
              }
              ОТВЕТ:
                  {
                    "id": целочисленное значение, (рендерить не нужно)
                    "name": строковое значение, (отрендерить и зашить href = {% url 'event' %}?event_id=[ID из поля выше]
                    "type": целочисленное значение, (заменить на слова. 1 - Атака, 2 - Защита)
                    "date": целочисленное значение в timestampt, (привести к виду (dd.mm.yyyy hh:mm)
                    "voevoda_id": целочисленное значение, (рендерить не нужно)
                    "enemy": {
                      "id": целочисленное значение (рендерить не нужно)
                      "name: строковое значение (рендерим)
                      "label": url гифка (нужно зарендерить + спрянать под нее ссылку href = https://www.heroeswm.ru/pl_info.php?id=[ID из поля выше])
                    },
                    "state": целочисленное значение (1 - "Первоначальный сбор", 2 - "Выбор бойцов", 3 - "Идет бой", 4 - "Завершен")
                }
                Далее необходимо произвести редирект на url {% url 'event' %}?event_id=[ID который пришел в ответ на POST запрос]

            СИТУАЦИЯ 2 (когда ивент создан и state = 1)
                url: http://127.0.0.1:8000/api/persons/
                type: GET
                params: voevoda_id=request.session.voevoda_id

                ОТВЕТ будет огромный список JSONов, Показать только тех у кого поле activity == true:
                      data: [
                        {
                                "id": целочисленное значение,
                                "role": целочисленное значение  (1, "Воевода"),
                                                                (2, "Помощник воеводы"),
                                                                (100, "Игрок"),  Нужно при рендеринге преобразовать число в строку
                                "telegram_id": строковое значение,
                                "telegram_username": строковое значение,
                                "voevoda_id": целочисленное значение, - Рендерин не нужно
                                "activity": bool значение, (заменить на галочку или крестик)
                                "comment": строковое значение,
                                "stats": {
                                        "id": целочисленное значение,
                                        "name": строковое значение, спрятать ссылку https://www.heroeswm.ru/pl_info.php?id=[ID из поля выше],
                                        "level": целочисленное значение,
                                        "clan": целочисленное значение, - его отображать не нужно
                                        "umka_knight": целочисленное значение,
                                        "umka_necro": целочисленное значение,
                                        "umka_mag": целочисленное значение,
                                        "umka_elf": целочисленное значение,
                                        "umka_barbar": целочисленное значение,
                                        "umka_black_elf": целочисленное значение,
                                        "umka_demon": целочисленное значение,
                                        "umka_dwarf": целочисленное значение,
                                        "umka_step_barb": целочисленное значение,
                                        "umka_pharaon": целочисленное значение,
                                        "gild_hunt": целочисленное значение,
                                        "gild_work": целочисленное значение,
                                        "gild_card": целочисленное значение,
                                        "gild_thief": целочисленное значение,
                                        "gild_ranger": целочисленное значение,
                                        "gild_mers": целочисленное значение,
                                        "gild_tactic": целочисленное значение,
                                        "gild_gard": целочисленное значение,
                                        "gild_seekers": целочисленное значение,
                                        "gild_leader": целочисленное значение,
                                        "gild_blacksmith": целочисленное значение,
                                        "gild_gunsmith": целочисленное значение
                                },
                                "presets": [
                                        {
                                          "id": целочисленное значение, - рендерить не нужно
                                          "voevoda_id": целочисленное значение, - рендерить не нужно
                                          "fraction": целочисленное значение, (0, "Рыцарь"),
                                                                              (1, "Некромант"),
                                                                              (2, "Маг"),
                                                                              (3, "Эльф"),
                                                                              (4, "Варвар"),
                                                                              (5, "Темный эльф"),
                                                                              (6, "Демон"),
                                                                              (7, "Гном"),
                                                                              (8, "Степной варвар"),
                                                                              (9, "Фараон"), - нужно из числового значения отрендерить строку
                                          "name": строковое значение,  под название спрятать переход на url ниже, где preset_id = ID выше
                                          "description": строковое значение (может быть длинным)
                                          play_preset: bool значение, ставим галочку или крестик
                                ]

                ЕСЛИ type ивента  == 1 (атака), то отображаем всех игроков
                Если type ивента == 2 (защита), то отображаем только игроков у которых stats.clan == request.session.clan_id

                НАПРОТИВ каждого игрока ставим поле, в котором можно поставить галочку (ОТправить приглашение)

                СНИЗУ ДЕЛАЕМ КНОПКУ "ОТПРАВИТЬ ПРИГЛАШЕНИЕ"
                По нажатию на кнопку собираются все значения с галочками и в цикле отправляются запросы

                url: http://127.0.0.1:8000/api/invites/
                type: POST
                body: {
                    "event_id": ID ивента выше
                    "person_id": идентификатор персонажа (напротив которого поставили галочку)
                }

                Далее отправляем запрос
                url: http://127.0.0.1:8000/api/events/
                type: PATCH
                body: {
                    "event_id": ID ивента,
                    "state": 2
                }

                Далее необходимо произвести редирект на url {% url 'event' %}?event_id=[ID ивента берем выше]

            СИТУАЦИЯ 3 - state == 2
                Рендерим информацию об ивенте

                Выгружаем игроков которым было направлено приглашение

                Делаем запрос:
                url: http://127.0.0.1:8000/api/invites/
                type: GET
                params = {
                    "event_id": ID ивента
                }

                ОТВЕТ JSON со списком
                [
                  {
                    "id": целочисленное значение (рендерить не нужно),
                    "date": целочисленное значение (рендерить не нужно),
                    "event_id": целочисленное значение (рендерить не нужно),
                    "person_id": Данные о перснаже как в ситуации №3,
                    "state": целочисленное значени (заменить на 1 - "Отправлено", 2 - "Принято", 3 - "Отказ", 4 - "Выбран на бой")
                  }
                ]

                Далее выгружаем всех игроков соперника

                Делаем запрос
                url: http://127.0.0.1:8000/api/players/
                type: GET
                params: clan_id={{ clan_id }}

                ОТВЕТ:
                data: [
                        {
                            "id": целочисленное значение,
                            "name": строковое значение, спрятать ссылку https://www.heroeswm.ru/pl_info.php?id=[ID из поля выше],
                            "level": целочисленное значение,
                            "clan": целочисленное значение, - его отображать не нужно
                            "umka_knight": целочисленное значение,
                            "umka_necro": целочисленное значение,
                            "umka_mag": целочисленное значение,
                            "umka_elf": целочисленное значение,
                            "umka_barbar": целочисленное значение,
                            "umka_black_elf": целочисленное значение,
                            "umka_demon": целочисленное значение,
                            "umka_dwarf": целочисленное значение,
                            "umka_step_barb": целочисленное значение,
                            "umka_pharaon": целочисленное значение,
                            "gild_hunt": целочисленное значение,
                            "gild_work": целочисленное значение,
                            "gild_card": целочисленное значение,
                            "gild_thief": целочисленное значение,
                            "gild_ranger": целочисленное значение,
                            "gild_mers": целочисленное значение,
                            "gild_tactic": целочисленное значение,
                            "gild_gard": целочисленное значение,
                            "gild_seekers": целочисленное значение,
                            "gild_leader": целочисленное значение,
                            "gild_blacksmith": целочисленное значение,
                            "gild_gunsmith": целочисленное значение
                        }
                    ]

             Если тип ивента == 2 (защита), то дополнительно
             делаем запросы
             1) url: http://127.0.0.1:8000/api/clans/
                type: GET
                params: clan_id=enemy.id

                ОТВЕТ:
                data: {
                        "id": Целочисленное значение,
                        "name": Строковое значение,
                        "label": url адрес гифки, которую нужно отрендерить + под гифку спрятать ссылку https://www.heroeswm.ru/clan_info.php?id=[ID из поля выше],
                        "alliance": null или {
                                "id": Целочисленное значение,
                                "name": Строковое значение,
                                "label": url адрес гифки, которую нужно отрендерить + под гифку спрятать ссылку https://www.heroeswm.ru/clan_info.php?id=[ID из поля выше]
                         }
                }

               Если поле alliance не равно нулю, то делаем запрос

               url: http://127.0.0.1:8000/api/players/
              type: GET
              params: clan_id=alliance.id

            БОИ ПРОХОДЯТ 2 на 2

            Создаем по 2 поля для стороны атаки и защиты

            Напротив каждого из полей сделать еще одно с выбором уровня. Как только выбираем уровень,
            проводишь фильтр всех игроков стороны по полю "level" и даешь пользователю выбрать игрока


            РЕНДЕРИМ КНОПКУ "ПРИГЛАСИТЬ НА БОЙ"
            После того, как пользователь выбрал игроков своей стороны в полях выше - нажимаем на кнопку
            и по выбранным игрокам своей стороны отправляются запросы

            Делаем запрос:
                url: http://127.0.0.1:8000/api/invites/
                type: POST
                params = {
                    "event_id": ID ивента,
                    "state": 4
                }

            Обновляем ивент
              url: http://127.0.0.1:8000/api/events/
              type: PATCH
              body: {
                  "event_id": ID ивента,
                  "state": 3
              }

             Далее необходимо произвести редирект на url {% url 'event' %}?event_id=[ID ивента берем выше]

         СИТУАЦИЯ 4 - state == 3 (Идент бой)

         Отображаем информацию об ИВЕНТЕ

          Делаем запрос
          url: http://127.0.0.1:8000/api/invites/
          type: GET
          params = {
              "event_id": ID ивента,
              "state__in": 4
          }

          ВНИЗУ ЕСТЬ КНОПКА "ЗАВЕРШИТЬ"

          Понажатию на кнопку отправляем запрос
          url: http://127.0.0.1:8000/api/events/
          type: PATCH
          body: {
              "event_id": ID ивента,
              "state": 4
          }

          И производим redirect
          "{% url 'fight' %}?event_id=[ID ивента]"

        -->

    {% if not event_data %}
        <form id="event-form">
            <label for="event-name">Название:</label>
            <input type="text" id="event-name" name="name" required>

            <label for="event-type">Тип события:</label>
            <select id="event-type" name="type" required>
                <option value="1">Атака</option>
                <option value="2">Защита</option>
            </select>

            <label for="event-date">Дата и время:</label>
            <input type="datetime-local" id="event-date" name="date" required>

            <label for="event-enemy">Враг:</label>
            <input type="text" id="event-enemy" name="enemy" placeholder="Введите имя клана..." list="clan-list" required>
            <datalist id="clan-list"></datalist>
            <div id="enemy-details"></div> <!-- Показывает выбранного врага -->

            <button type="button" id="create-event">Создать ивент</button>
        </form>
        <script>
            let selectedEnemyId = null;
            const inputField = document.getElementById('event-enemy');
            const clanList = document.getElementById('clan-list');
            const enemyDetails = document.getElementById('enemy-details');

            inputField.addEventListener('input', function() {
                const query = this.value;
                if (query.length >= 3) {
                    // Очищаем предыдущие варианты
                    clanList.innerHTML = '';
                    clearTimeout(this.fetchTimeout);

                    // Задержка перед выполнением запроса
                    this.fetchTimeout = setTimeout(() => {
                        fetch(`http://127.0.0.1:8000/api/clans?clan_name=${encodeURIComponent(query)}`)
                            .then(response => response.json())
                            .then(data => {
                                // Очищаем список перед добавлением новых вариантов
                                clanList.innerHTML = '';

                                // Заполняем список вариантами
                                data.data.forEach(enemy => {
                                    const option = document.createElement('option');
                                    option.value = enemy.name;
                                    option.dataset.id = enemy.id;  // Сохраняем ID клана
                                    clanList.appendChild(option);
                                });
                            });
                    }, 500); // Интервал в 500 мс для оптимизации запросов
                }
            });

            inputField.addEventListener('change', function() {
                const selectedOption = Array.from(clanList.options).find(option => option.value === this.value);

                if (selectedOption) {
                    selectedEnemyId = selectedOption.dataset.id;
                    fetch(`http://127.0.0.1:8000/api/clans/${selectedEnemyId}`)
                        .then(response => response.json())
                        .then(enemy => {
                            enemyDetails.innerHTML = `
                                <img src="${enemy.label}" alt="Враг" />
                                <p>${enemy.name}</p>
                            `;
                        });
                }
            });

            document.getElementById('create-event').addEventListener('click', function() {
                const name = document.getElementById('event-name').value;
                const type = document.getElementById('event-type').value;
                const date = new Date(document.getElementById('event-date').value).getTime();

                fetch('http://127.0.0.1:8000/api/events/', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({
                        voevoda_id: "{{ request.session.voevoda_id }}",
                        name: name,
                        type: type,
                        date: date,
                        enemy: selectedEnemyId
                    })
                })
                .then(response => response.json())
                .then(data => {
                    window.location.href = `{% url 'event' %}?event_id=${data.id}`;
                });
            });
        </script>

    {% else %}
        <div>
            <h3>{{ event_data.name }}</h3>
            <p>Тип:
                {% if event_data.type == 1 %}
                    Атака
                {% elif event_data.type == 2 %}
                    Защита
                {% else %}
                    Неизвестно
                {% endif %}
            </p>
            <p>Дата: {{ event_data.date|date:"d.m.Y H:i" }}</p>
            <p>Состояние:
                {% if event_data.state == 1 %}
                    Первоначальный сбор
                {% elif event_data.state == 2 %}
                    Выбор бойцов
                {% elif event_data.state == 3 %}
                    Идет бой
                {% elif event_data.state == 4 %}
                    Завершен
                {% else %}
                    Неизвестно
                {% endif %}
            </p>

            {% if event_data.state == 1 %}
                <div>
                    <h4>Выберите игроков для приглашения</h4>
                    <form id="invite-form">
                        {% for person in persons %}
                            <div>
                                <input type="checkbox" id="person-{{ person.id }}" name="person" value="{{ person.id }}">
                                <label for="person-{{ person.id }}">
                                    {{ person.telegram_username }} -
                                        {% if person.role == 1 %}
                                            Воевода
                                        {% elif person.role == 2 %}
                                            Помощник воеводы
                                        {% elif person.role == 100 %}
                                            Игрок
                                        {% else %}
                                            Неизвестная роль
                                        {% endif %}
                                    <span>{{ person.stats.name }} ({{ person.stats.level }} уровень)</span>
                                </label>
                            </div>
                        {% endfor %}
                        <button type="button" id="send-invites">Отправить приглашения</button>
                    </form>

                    <script>
                        document.getElementById('send-invites').addEventListener('click', function() {
                            const selectedPersons = Array.from(document.querySelectorAll('input[name="person"]:checked'))
                                .map(input => input.value);

                            selectedPersons.forEach(personId => {
                                fetch('http://127.0.0.1:8000/api/invites/', {
                                    method: 'POST',
                                    headers: { 'Content-Type': 'application/json' },
                                    body: JSON.stringify({
                                        event_id: "{{ event_data.id }}",
                                        person_id: personId
                                    })
                                });
                            });

                            fetch('http://127.0.0.1:8000/api/events/', {
                                method: 'PATCH',
                                headers: { 'Content-Type': 'application/json' },
                                body: JSON.stringify({
                                    event_id: "{{ event_data.id }}",
                                    state: 2
                                })
                            })
                            .then(() => {
                                window.location.href = `{% url 'event' %}?event_id={{ event_data.id }}`;
                            });
                        });
                    </script>
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}