{% extends 'base.html' %}

{% block content %}
        <div>Events</div>
        <!--
            1)Выгружаем список всех ивентов
            url: http://127.0.0.1:8000/api/events/
            type: GET
            params: voevoda_id=request.session.voevoda_id

            ОТВЕТ:
            [
                {
                    "id": целочисленное значение, (рендерить не нужно)
                    "name": строковое значение, (отрендерить и зашить href = {% url 'event' %}?event_id=[ID из поля выше]
                    "type": целочисленное значение, (заменить на слова. 1 - Атака, 2 - Защита)
                    "date": целочисленное значение в timestampt, (привести к виду (dd.mm.yyyy hh:mm)
                    "voevoda_id": целочисленное значение, (рендерить не нужно)
                    "enemy": {
                      "id": целочисленное значение (рендерить не нужно)
                      "name: строковое значение (рендерим)
                      "label": url гифка (нужно зарендерить + спрянать под нее ссылку href = https://www.heroeswm.ru/pl_info.php?id=[ID из поля выше])
                    },
                    "state": целочисленное значение (1 - "Первоначальный сбор", 2 - "Выбор бойцов", 3 - "Идет бой", 4 - "Завершен")
                }
            ]

            Все данные нужно разделить на 2 столбца
            В левом столбце все ивенты со статусом 4. В правом все остальные

            Снизу кнопка "СОЗДАТЬ ИВЕНТ" в которая зашита ссылка a href="{% url 'event' %}" >СОЗДАТЬ ИВЕНТ</a>

        -->

{% endblock %}