{% extends 'base.html' %}
{% load static %} 
{% block content %}
        <!--
            СИТУАЦИЯ 1 - когда создаешь новый ИВЕНТ

            Если переменная event_data пустая, то создаем форму
                "name": для строкового значения,
                "type": целочисленное значение, (заменить на слова. 1 - Атака, 2 - Защита),
                "date": выбор даты и выбор времени,
                "enemy": Текстовое поле. Когда в него вводишь символы (не менее 3-х), то с задержкой в 2 секунды отправляется запрос
                  url = "http://127.0.0.1:8000/api/clans"
                  params = {
                          "clan_name": введенные символы
                  }
                  После того как пользователь выбрал клан - рендеришь его гифку и название
            После формы зарендерить кнопку "СОЗДАТЬ ИВЕНТ"
            По нажатию на кнопку отправляется запрос
              url: http://127.0.0.1:8000/api/events/
              type: POST
              body: {
                  "voevoda_id": request.session.voevoda_id,
                  "date": значение переменной date, которую ввел пользователь преобразованную в timestampt
                  "enemy": id enemy который выбрал пользователь
              }
              ОТВЕТ:
                  {
                    "id": целочисленное значение, (рендерить не нужно)
                    "name": строковое значение, (отрендерить и зашить href = {% url 'event' %}?event_id=[ID из поля выше]
                    "type": целочисленное значение, (заменить на слова. 1 - Атака, 2 - Защита)
                    "date": целочисленное значение в timestampt, (привести к виду (dd.mm.yyyy hh:mm)
                    "voevoda_id": целочисленное значение, (рендерить не нужно)
                    "enemy": {
                      "id": целочисленное значение (рендерить не нужно)
                      "name: строковое значение (рендерим)
                      "label": url гифка (нужно зарендерить + спрянать под нее ссылку href = https://www.heroeswm.ru/pl_info.php?id=[ID из поля выше])
                    },
                    "state": целочисленное значение (1 - "Первоначальный сбор", 2 - "Выбор бойцов", 3 - "Идет бой", 4 - "Завершен")
                }
                Далее необходимо произвести редирект на url {% url 'event' %}?event_id=[ID который пришел в ответ на POST запрос]

            СИТУАЦИЯ 2 (когда ивент создан и state = 1)
                url: http://127.0.0.1:8000/api/persons/
                type: GET
                params: voevoda_id=request.session.voevoda_id

                ОТВЕТ будет огромный список JSONов, Показать только тех у кого поле activity == true:
                      data: [
                        {
                                "id": целочисленное значение,
                                "role": целочисленное значение  (1, "Воевода"),
                                                                (2, "Помощник воеводы"),
                                                                (100, "Игрок"),  Нужно при рендеринге преобразовать число в строку
                                "telegram_id": строковое значение,
                                "telegram_username": строковое значение,
                                "voevoda_id": целочисленное значение, - Рендерин не нужно
                                "activity": bool значение, (заменить на галочку или крестик)
                                "comment": строковое значение,
                                "stats": {
                                        "id": целочисленное значение,
                                        "name": строковое значение, спрятать ссылку https://www.heroeswm.ru/pl_info.php?id=[ID из поля выше],
                                        "level": целочисленное значение,
                                        "clan": целочисленное значение, - его отображать не нужно
                                        "umka_knight": целочисленное значение,
                                        "umka_necro": целочисленное значение,
                                        "umka_mag": целочисленное значение,
                                        "umka_elf": целочисленное значение,
                                        "umka_barbar": целочисленное значение,
                                        "umka_black_elf": целочисленное значение,
                                        "umka_demon": целочисленное значение,
                                        "umka_dwarf": целочисленное значение,
                                        "umka_step_barb": целочисленное значение,
                                        "umka_pharaon": целочисленное значение,
                                        "gild_hunt": целочисленное значение,
                                        "gild_work": целочисленное значение,
                                        "gild_card": целочисленное значение,
                                        "gild_thief": целочисленное значение,
                                        "gild_ranger": целочисленное значение,
                                        "gild_mers": целочисленное значение,
                                        "gild_tactic": целочисленное значение,
                                        "gild_gard": целочисленное значение,
                                        "gild_seekers": целочисленное значение,
                                        "gild_leader": целочисленное значение,
                                        "gild_blacksmith": целочисленное значение,
                                        "gild_gunsmith": целочисленное значение
                                },
                                "presets": [
                                        {
                                          "id": целочисленное значение, - рендерить не нужно
                                          "voevoda_id": целочисленное значение, - рендерить не нужно
                                          "fraction": целочисленное значение, (0, "Рыцарь"),
                                                                              (1, "Некромант"),
                                                                              (2, "Маг"),
                                                                              (3, "Эльф"),
                                                                              (4, "Варвар"),
                                                                              (5, "Темный эльф"),
                                                                              (6, "Демон"),
                                                                              (7, "Гном"),
                                                                              (8, "Степной варвар"),
                                                                              (9, "Фараон"), - нужно из числового значения отрендерить строку
                                          "name": строковое значение,  под название спрятать переход на url ниже, где preset_id = ID выше
                                          "description": строковое значение (может быть длинным)
                                          play_preset: bool значение, ставим галочку или крестик
                                ]

                ЕСЛИ type ивента  == 1 (атака), то отображаем всех игроков
                Если type ивента == 2 (защита), то отображаем только игроков у которых stats.clan == request.session.clan_id

                НАПРОТИВ каждого игрока ставим поле, в котором можно поставить галочку (ОТправить приглашение)

                СНИЗУ ДЕЛАЕМ КНОПКУ "ОТПРАВИТЬ ПРИГЛАШЕНИЕ"
                По нажатию на кнопку собираются все значения с галочками и в цикле отправляются запросы

                url: http://127.0.0.1:8000/api/invites/
                type: POST
                body: {
                    "event_id": ID ивента выше
                    "person_id": идентификатор персонажа (напротив которого поставили галочку)
                }

                Далее отправляем запрос
                url: http://127.0.0.1:8000/api/events/
                type: PATCH
                body: {
                    "event_id": ID ивента,
                    "state": 2
                }

                Далее необходимо произвести редирект на url {% url 'event' %}?event_id=[ID ивента берем выше]

            СИТУАЦИЯ 3 - state == 2
                Рендерим информацию об ивенте

                Выгружаем игроков которым было направлено приглашение

                Делаем запрос:
                url: http://127.0.0.1:8000/api/invites/
                type: GET
                params = {
                    "event_id": ID ивента
                }

                ОТВЕТ JSON со списком
                [
                  {
                    "id": целочисленное значение (рендерить не нужно),
                    "date": целочисленное значение (рендерить не нужно),
                    "event_id": целочисленное значение (рендерить не нужно),
                    "person_id": Данные о перснаже как в ситуации №3,
                    "state": целочисленное значени (заменить на 1 - "Отправлено", 2 - "Принято", 3 - "Отказ", 4 - "Выбран на бой")
                  }
                ]

                Далее выгружаем всех игроков соперника

                Делаем запрос
                url: http://127.0.0.1:8000/api/players/
                type: GET
                params: clan_id={{ clan_id }}

                ОТВЕТ:
                data: [
                        {
                            "id": целочисленное значение,
                            "name": строковое значение, спрятать ссылку https://www.heroeswm.ru/pl_info.php?id=[ID из поля выше],
                            "level": целочисленное значение,
                            "clan": целочисленное значение, - его отображать не нужно
                            "umka_knight": целочисленное значение,
                            "umka_necro": целочисленное значение,
                            "umka_mag": целочисленное значение,
                            "umka_elf": целочисленное значение,
                            "umka_barbar": целочисленное значение,
                            "umka_black_elf": целочисленное значение,
                            "umka_demon": целочисленное значение,
                            "umka_dwarf": целочисленное значение,
                            "umka_step_barb": целочисленное значение,
                            "umka_pharaon": целочисленное значение,
                            "gild_hunt": целочисленное значение,
                            "gild_work": целочисленное значение,
                            "gild_card": целочисленное значение,
                            "gild_thief": целочисленное значение,
                            "gild_ranger": целочисленное значение,
                            "gild_mers": целочисленное значение,
                            "gild_tactic": целочисленное значение,
                            "gild_gard": целочисленное значение,
                            "gild_seekers": целочисленное значение,
                            "gild_leader": целочисленное значение,
                            "gild_blacksmith": целочисленное значение,
                            "gild_gunsmith": целочисленное значение
                        }
                    ]

             Если тип ивента == 2 (защита), то дополнительно
             делаем запросы
             1) url: http://127.0.0.1:8000/api/clans/
                type: GET
                params: clan_id=enemy.id

                ОТВЕТ:
                data: {
                        "id": Целочисленное значение,
                        "name": Строковое значение,
                        "label": url адрес гифки, которую нужно отрендерить + под гифку спрятать ссылку https://www.heroeswm.ru/clan_info.php?id=[ID из поля выше],
                        "alliance": null или {
                                "id": Целочисленное значение,
                                "name": Строковое значение,
                                "label": url адрес гифки, которую нужно отрендерить + под гифку спрятать ссылку https://www.heroeswm.ru/clan_info.php?id=[ID из поля выше]
                         }
                }

               Если поле alliance не равно нулю, то делаем запрос

               url: http://127.0.0.1:8000/api/players/
              type: GET
              params: clan_id=alliance.id

            БОИ ПРОХОДЯТ 2 на 2

            Создаем по 2 поля для стороны атаки и защиты

            Напротив каждого из полей сделать еще одно с выбором уровня. Как только выбираем уровень,
            проводишь фильтр всех игроков стороны по полю "level" и даешь пользователю выбрать игрока


            РЕНДЕРИМ КНОПКУ "ПРИГЛАСИТЬ НА БОЙ"
            После того, как пользователь выбрал игроков своей стороны в полях выше - нажимаем на кнопку
            и по выбранным игрокам своей стороны отправляются запросы

            Делаем запрос:
                url: http://127.0.0.1:8000/api/invites/
                type: POST
                params = {
                    "event_id": ID ивента,
                    "state": 4
                }

            Обновляем ивент
              url: http://127.0.0.1:8000/api/events/
              type: PATCH
              body: {
                  "event_id": ID ивента,
                  "state": 3
              }

             Далее необходимо произвести редирект на url {% url 'event' %}?event_id=[ID ивента берем выше]

         СИТУАЦИЯ 4 - state == 3 (Идент бой)

         Отображаем информацию об ИВЕНТЕ

          Делаем запрос
          url: http://127.0.0.1:8000/api/invites/
          type: GET
          params = {
              "event_id": ID ивента,
              "state__in": 4
          }

          ВНИЗУ ЕСТЬ КНОПКА "ЗАВЕРШИТЬ"

          Понажатию на кнопку отправляем запрос
          url: http://127.0.0.1:8000/api/events/
          type: PATCH
          body: {
              "event_id": ID ивента,
              "state": 4
          }

          И производим redirect
          "{% url 'fight' %}?event_id=[ID ивента]"

        -->
        <div class="sh_MenuPanel" style="width: 10px;">
            <div class="mm_l"></div>
            <div class="mm_r"></div>
            <a href="{% url 'main' %}">
                <img src="{% static 'voevoda_app/images/arrow.png' %}" href="{% url 'main' %}" class="cursor_main_menu">
            </a>
            <div class="main_menu" hwm_label=""><a href="{% url 'events' %}">Ивенты</a></div>
            <div class="not_auth_text_on_buttons2">Ивенты</div>
        </div>

        {% if not event_data %}
        <form id="event-form" class="form-container">
            <h2>Создание нового ивента</h2>
            
            <label for="event-name">Название:</label>
            <input type="text" id="event-name" name="name" required placeholder="Введите название события">

            <label for="event-type">Тип события:</label>
            <select id="event-type" name="type" required>
                <option value="1">⚔️ Атака</option>
                <option value="2">🛡️ Защита</option>
            </select>

            <label for="event-date">Дата и время:</label>
            <input type="datetime-local" id="event-date" name="date" style="width: 97%" required>

            <label for="event-enemy">Враг:</label>
            <input type="text" id="event-enemy" name="enemy" placeholder="Введите имя клана..." list="clanList" autocomplete="off">
            <datalist id="clanList"></datalist>
            <div id="enemy-details"></div>

            <button type="submit" id="create-event">Создать ивент</button>
        </form>
    
        <script>
            let clanSearchTimeout;
            let selectedEnemyId = null;
            const inputField = document.getElementById('event-enemy');
            const clanList = document.getElementById('clanList');
            const enemyDetails = document.getElementById('enemy-details');
    
            inputField.addEventListener('input', function() {
                clearTimeout(clanSearchTimeout);
                const query = this.value;

                if (query.length >= 3) {
                    clanSearchTimeout = setTimeout(() => {
                        fetch(`http://127.0.0.1:8000/api/clans/?clan_name=${encodeURIComponent(query)}`)
                            .then(response => response.json())
                            .then(data => {
                                clanList.innerHTML = '';
                                data.data.forEach(enemy => {
                                    const option = document.createElement('option');
                                    option.value = enemy.name;
                                    option.dataset.id = enemy.id;
                                    clanList.appendChild(option);
                                });
                            });
                    }, 500);
                }
            });

            inputField.addEventListener('change', function() {
                const selectedOption = Array.from(clanList.options).find(option => option.value === this.value);
                if (selectedOption) {
                    selectedEnemyId = selectedOption.dataset.id;
                    fetch(`http://127.0.0.1:8000/api/clans/?clan_id=${selectedEnemyId}`)
                        .then(response => response.json())
                        .then(enemy => {
                            enemyDetails.innerHTML = `
                            <p><img src="${enemy.data.label}" alt="Враг" style="width:20px;"/>
                                ${enemy.data.name}</p>
                            `;
                        });
                    fetch(`http://127.0.0.1:8000/api/events/?event_id=2`)
                        .then(response => response.json())
                        .then(enemy => {
                            console.log(enemy);
                        });
                } else {
                    selectedEnemyId = null;
                }
            });
    
            document.getElementById('create-event').addEventListener('click', function() {
                const name = document.getElementById('event-name').value;
                const type = document.getElementById('event-type').value;
                const date = new Date(document.getElementById('event-date').value).getTime()/1000;
    
                fetch('http://127.0.0.1:8000/api/events/', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({
                        voevoda_id: "{{ request.session.voevoda_id }}",
                        name: name,
                        type: type,
                        date: date,
                        enemy: selectedEnemyId
                    })
                })
                .then(response => response.json())
                .then(data => {
                    window.location.href = `{% url 'event' %}?event_id=${data.data.id}`;
                });
            });
        </script>
    
    {% else %}
        <div class="event-state-container">
            <h3 class="event-title">{{ event_data.name }}</h3>
            <p class="event-info">Тип:
                {% if event_data.type == 1 %}
                    <span class="icon-attack">Атака</span>
                {% elif event_data.type == 2 %}
                    <span class="icon-defense">Защита</span>
                {% else %}
                    <span class="event-type-unknown">Неизвестно</span>
                {% endif %}
            </p>
            <p class="event-info" id="event-data" data-timestamp="{{ event_data.date }}">Дата: </p>
            <p class="event-info">Состояние:
                {% if event_data.state == 1 %}
                    <span class="status-1">Первоначальный сбор</span>
                {% elif event_data.state == 2 %}
                    <span class="status-2">Выбор бойцов</span>
                {% elif event_data.state == 3 %}
                    <span class="status-3">Идет бой</span>
                {% elif event_data.state == 4 %}
                    <span class="status-4">Завершен</span>
                {% else %}
                    Неизвестно
                {% endif %}
            </p>

            <script>
                function formatDate(timestamp) {
                    const date = new Date(timestamp * 1000); 
                    const day = String(date.getDate()).padStart(2, '0');
                    const month = String(date.getMonth() + 1).padStart(2, '0');
                    const year = date.getFullYear();
                    const hours = String(date.getHours()).padStart(2, '0');
                    const minutes = String(date.getMinutes()).padStart(2, '0');
                    return `${day}.${month}.${year} ${hours}:${minutes}`;
                }
                
                const activeEventsDiv = document.getElementById('event-data');
                const timestamp = activeEventsDiv.getAttribute('data-timestamp');
                activeEventsDiv.textContent = `Дата: ${formatDate(timestamp)}`;
                console.log(`Дата: ${formatDate(timestamp)}`);
            </script>

            {% if event_data.state == 1 %}
            <div class="invite-section">
                <h4>Выберите игроков для приглашения</h4>
                <form id="invite-form">
                    <div id="players-list" class="players-list"></div>
                    <button type="submit" id="send-invites" style="width:30%; margin: 10px auto;">Отправить приглашения</button>
                </form>
            </div>


            <script>
                const clanId = "{{ request.session.clan_id }}";
                fetch(`http://127.0.0.1:8000/api/persons/?voevoda_id={{ request.session.voevoda_id }}`)
                    .then(response => response.json())
                    .then(data => {
                        const activePlayers = data.data.filter(person => person.activity);
                        const playersList = document.getElementById('players-list');
                        activePlayers.forEach(person => {
                            const personRole = (person.role === 1) ? "Воевода" :
                                            (person.role === 2) ? "Помощник воеводы" :
                                            (person.role === 100) ? "Игрок" : "Неизвестная роль";
                            const personHtml = `
                                <div class="player-card">
                                    <input type="checkbox" id="person-${person.id}" name="person" value="${person.id}">
                                    <label for="person-${person.id}">
                                        ${person.telegram_username} - ${personRole}
                                        <span class="player-stats">${person.stats.name} (${person.stats.level} уровень)</span>
                                    </label>
                                </div>
                            `;
                            playersList.insertAdjacentHTML('beforeend', personHtml);
                        });
                        document.getElementById('send-invites').disabled = false;
                    })
                    .catch(error => {
                        console.error('Ошибка при загрузке списка игроков:', error);
                        alert('Не удалось загрузить список игроков.');
                    });
            
                document.getElementById('send-invites').addEventListener('click', function() {
                    const selectedPersons = Array.from(document.querySelectorAll('input[name="person"]:checked'))
                        .map(input => input.value);
                    const sendInvitesButton = document.getElementById('send-invites');
                    sendInvitesButton.disabled = true;
                    sendInvitesButton.innerText = "Отправка...";
                    const sendInvitations = selectedPersons.map(personId => {
                        return fetch('http://127.0.0.1:8000/api/invites/', {
                            method: 'POST',
                            headers: { 'Content-Type': 'application/json' },
                            body: JSON.stringify({
                                event_id: "{{ event_data.id }}",
                                person_id: personId
                            })
                        });
                    });
                    Promise.all(sendInvitations)
                        .then(() => {
                            return fetch('http://127.0.0.1:8000/api/events/', {
                                method: 'PATCH',
                                headers: { 'Content-Type': 'application/json' },
                                body: JSON.stringify({
                                    event_id: "{{ event_data.id }}",
                                    state: 2
                                })
                            });
                        })
                        .then(() => {
                            window.location.href = `{% url 'event' %}?event_id={{ event_data.id }}`;
                        })
                        .catch(error => {
                            console.error('Ошибка при отправке приглашений или обновлении события:', error);
                            alert('Произошла ошибка при отправке приглашений. Попробуйте снова.');
                        });
                });
            </script>
            </div>
            {% endif %}

            {% if event_data.state == 2 %}
            <div>
            <div class="invite-section">
                <h4 class="section-title">Приглашённые игроки</h4>
                <div id="invited-players-list" class="players-list"></div>
    
                <h4 class="section-title">Игроки соперника</h4>
                <div id="enemy-players-list" class="players-list"></div>
    
                {% if event_data.type == 2 %}
    
                    <div id="enemy-alliance-players-container" class="alliance-players-container"></div>
                {% endif %}
    
                <div class="clan-section">
                    <div class="clan-attack">
                        <h4>Клан атаки</h4>
                        <div id="attack-clan-info" class="e-clan-info"></div>
                    </div>
                    <div class="clan-defense">
                        <h4>Клан защиты</h4>
                        <div id="defense-clan-info" class="e-clan-info"></div>
                    </div>
                </div>
                
                <h4 class="section-title">Выбор игроков для боя</h4>
                <div class="player-selection-container">
                    {% if event_data.type == 1 %}
                        <div class="row">
                            <div class="player-select-container">
                                <label>Атака - Игрок 1:</label>
                                <select id="attacker-1-level" onchange="filterPlayers('attacker-1', this.value, 'my')" class="level-select"></select>
                                <select id="attacker-1" class="player-select"></select>
                            </div>
                            <div class="player-select-container">
                                <label>Атака - Игрок 2:</label>
                                <select id="attacker-2-level" onchange="filterPlayers('attacker-2', this.value, 'my')" class="level-select"></select>
                                <select id="attacker-2" class="player-select"></select>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="player-select-container">
                                <label>Защита - Игрок 1:</label>
                                <select id="defender-1-level" onchange="filterPlayers('defender-1', this.value, 'enemy')" class="level-select"></select>
                                <select id="defender-1" class="player-select"></select>
                            </div>
                            <div class="player-select-container">
                                <label>Защита - Игрок 2:</label>
                                <select id="defender-2-level" onchange="filterPlayers('defender-2', this.value, 'enemy')" class="level-select"></select>
                                <select id="defender-2" class="player-select"></select>
                            </div>
                        </div>
                    {% elif event_data.type == 2 %}
                        <div class="row">
                            <div class="player-select-container">
                                <label>Защита - Игрок 1:</label>
                                <select id="defender-1-level" onchange="filterPlayers('defender-1', this.value, 'my')" class="level-select"></select>
                                <select id="defender-1" class="player-select"></select>
                            </div>
                            <div class="player-select-container">
                                <label>Защита - Игрок 2:</label>
                                <select id="defender-2-level" onchange="filterPlayers('defender-2', this.value, 'my')" class="level-select"></select>
                                <select id="defender-2" class="player-select"></select>
                            </div>
                        </div>
                
                        <div class="row">
                            <div class="player-select-container">
                                <label>Атака - Игрок 1:</label>
                                <select id="attacker-1-level" onchange="filterPlayers('attacker-1', this.value, 'enemy')" class="level-select"></select>
                                <select id="attacker-1" class="player-select"></select>
                            </div>
                            <div class="player-select-container">
                                <label>Атака - Игрок 2:</label>
                                <select id="attacker-2-level" onchange="filterPlayers('attacker-2', this.value, 'enemy')" class="level-select"></select>
                                <select id="attacker-2" class="player-select"></select>
                            </div>
                        </div>
                    {% endif %}
                </div>
                
    
                <button type="submit" id='invite-to-fight' style="width: auto; margin: 20px auto;">Пригласить на бой</button>

                <script>
                    const eventId = "{{ event_data.id }}";
                    let myPlayers = [];  
                    let enemyPlayers = []; 

                    function filterPlayers(selectId, selectedLevel, team) {
                        const selectElement = document.getElementById(selectId);
                        selectElement.innerHTML = '';

                        const playersToFilter = team === 'my' ? myPlayers : enemyPlayers;

                        playersToFilter.forEach(player => {
                            const playerName = team === 'my' ? player.stats.name : player.name;
                            const playerLevel = team === 'my' ? player.stats.level : player.level;

                            if (playerLevel == selectedLevel) {
                                const optionHtml = `<option value="${player.id}">${playerName} (${playerLevel} уровень)</option>`;
                                selectElement.insertAdjacentHTML('beforeend', optionHtml);
                            }
                        });

                        if (selectElement.options.length > 0) {
                            selectElement.options[0].selected = true;
                        }
                    }

                    function updateLevelAndPlayers(selectId, team) {
                        const levelSelect = document.getElementById(selectId + '-level');
                        const firstLevel = levelSelect.options[0]?.value;

                        if (firstLevel) {
                            filterPlayers(selectId, firstLevel, team);
                        }
                    }

                    function fetchClanData(type, clanId) {
                        console.log(clanId);
                        fetch(`http://127.0.0.1:8000/api/clans/?clan_id=${clanId}`)
                            .then(response => response.json())
                            .then(data => {
                                const clanContainer = document.getElementById(type + '-clan-info');

                                const clanLink = document.createElement('a');
                                clanLink.href = `https://www.heroeswm.ru/clan_info.php?id=${data.data.id}`;
                                clanLink.target = '_blank';

                                const clanImage = document.createElement('img');
                                clanImage.src = data.data.label;
                                clanImage.alt = data.data.name;

                                const clanName =  document.createElement('span');
                                clanName.textContent = data.data.name;

                                clanLink.appendChild(clanImage);
                                clanLink.appendChild(clanName);
                                clanContainer.appendChild(clanLink);

                                if (data.data.alliance) {
                                    const allianceLink = document.createElement('a');
                                    allianceLink.href = `https://www.heroeswm.ru/clan_info.php?id=${data.data.alliance.id}`;
                                    allianceLink.target = '_blank';

                                    const allianceImage = document.createElement('img');
                                    allianceImage.src = data.data.alliance.label;
                                    allianceImage.alt = data.data.alliance.name;

                                    const allianceClanName =  document.createElement('span');
                                    allianceClanName.textContent = data.data.alliance.name;

                                    allianceLink.appendChild(allianceImage);
                                    allianceLink.appendChild(allianceClanName);
                                    clanContainer.appendChild(allianceLink);
                                }
                            })
                            .catch(error => console.error('Ошибка загрузки данных клана:', error));
                    }

                    fetch(`http://127.0.0.1:8000/api/events/?event_id=${eventId}`)
                        .then(response => response.json())
                        .then(eventData => {
                            const eventType = eventData.data.type;

                            fetch('http://127.0.0.1:8000/api/invites/?event_id=' + eventId)
                                .then(response => response.json())
                                .then(data => {
                                    const invitedPlayersList = document.getElementById('invited-players-list');
                                    let myLevels = new Set();

                                    data.data.forEach(invite => {
                                        myPlayers.push(invite.person_id);

                                        const playerState = invite.state === 1 ? "Отправлено" :
                                                            invite.state === 2 ? "Принято" :
                                                            invite.state === 3 ? "Отказ" :
                                                            invite.state === 4 ? "Выбран на бой" : "Неизвестно";

                                        const playerHtml = `
                                            <div>
                                                &nbsp&nbsp&nbsp${invite.person_id.stats.name} (${invite.person_id.stats.level} уровень) - ${playerState}
                                            </div>
                                        `;
                                        invitedPlayersList.insertAdjacentHTML('beforeend', playerHtml);

                                        myLevels.add(invite.person_id.stats.level);
                                    });

                                    const levelSelects = eventType === 1 ? ['attacker-1-level', 'attacker-2-level'] : ['defender-1-level', 'defender-2-level'];
                                    levelSelects.forEach(selectId => {
                                        const selectElement = document.getElementById(selectId);
                                        myLevels.forEach(level => {
                                            const levelOption = `<option value="${level}">${level}</option>`;
                                            selectElement.insertAdjacentHTML('beforeend', levelOption);
                                        });

                                        updateLevelAndPlayers(selectId.replace('-level', ''), 'my');
                                    });
                                });

                            fetch('http://127.0.0.1:8000/api/players/?clan_id=' + eventData.data.enemy.id)
                                .then(response => response.json())
                                .then(data => {
                                    const enemyPlayersList = document.getElementById('enemy-players-list');
                                    enemyPlayers = data.data; 
                                    let enemyLevels = new Set(); 

                                    data.data.forEach(player => {
                                        const playerHtml = `
                                            <div>
                                                &nbsp&nbsp&nbsp${player.name} (${player.level} уровень)
                                            </div>
                                        `;
                                        enemyPlayersList.insertAdjacentHTML('beforeend', playerHtml);

                                        enemyLevels.add(player.level);
                                    });
                                    
                                    const enemyLevelSelects = eventType === 1 ? ['defender-1-level', 'defender-2-level'] : ['attacker-1-level', 'attacker-2-level'];
                                    enemyLevelSelects.forEach(selectId => {
                                        const selectElement = document.getElementById(selectId);
                                        enemyLevels.forEach(level => {
                                            const levelOption = `<option value="${level}">${level}</option>`;
                                            selectElement.insertAdjacentHTML('beforeend', levelOption);
                                        });

                                        updateLevelAndPlayers(selectId.replace('-level', ''), 'enemy');
                                    });
                                });
                            if (eventType === 2) {
                                fetchClanData('attack', "{{ request.session.clan_id }}"); 
                                fetchClanData('defense', eventData.data.enemy.id); 
                                fetch('http://127.0.0.1:8000/api/clans/?clan_id=' + eventData.data.enemy.id)
                                    .then(response => response.json())
                                    .then(clanData => {
                                        if (clanData.data.alliance) {
                                            
                                            const enemyAlliancePlayersContainer = document.getElementById('enemy-alliance-players-container');

                                            const allianceHeader = `<h4>Союзники соперника</h4>`;
                                            enemyAlliancePlayersContainer.insertAdjacentHTML('beforeend', allianceHeader);

                                            const enemyAlliancePlayersList = `<div id="enemy-alliance-players-list" class="players-list"></div>`;
                                            enemyAlliancePlayersContainer.insertAdjacentHTML('beforeend', enemyAlliancePlayersList);

                                            fetch('http://127.0.0.1:8000/api/players/?clan_id=' + clanData.data.alliance.id)
                                                .then(response => response.json())
                                                .then(allianceData => {
                                                    let allianceLevels = new Set(); 
                                                    const enemyAlliancePlayersListElement = document.getElementById('enemy-alliance-players-list');
                                                    allianceData.data.forEach(player => {
                                                        const playerHtml = `
                                                            <div>
                                                                &nbsp&nbsp&nbsp${player.name} (${player.level} уровень)
                                                            </div>
                                                        `;
                                                        enemyAlliancePlayersListElement.insertAdjacentHTML('beforeend', playerHtml);

                                                        allianceLevels.add(player.level);

                                                        enemyPlayers.push(player);  
                                                    });

                                                    const enemyLevelSelects = eventType === 1 ? ['defender-1-level', 'defender-2-level'] : ['attacker-1-level', 'attacker-2-level'];
                                                    enemyLevelSelects.forEach(selectId => {
                                                        const selectElement = document.getElementById(selectId);
                                                        allianceLevels.forEach(level => {
                                                            const levelOption = `<option value="${level}">${level}</option>`;
                                                            selectElement.insertAdjacentHTML('beforeend', levelOption);
                                                        });

                                                        updateLevelAndPlayers(selectId.replace('-level', ''), 'enemy');
                                                    });
                                                });
                                        }
                                    });
                            }
                            else{
                                fetchClanData('attack', eventData.data.enemy.id); 
                                fetchClanData('defense', "{{ request.session.clan_id }}"); 
                            }
                        });

                    document.getElementById('invite-to-fight').addEventListener('click', function() {
                        const attacker1 = document.getElementById('attacker-1').value;
                        const attacker2 = document.getElementById('attacker-2').value;
                        const defender1 = document.getElementById('defender-1').value;
                        const defender2 = document.getElementById('defender-2').value;

                        const inviteFight = (playerId) => {
                            return fetch('http://127.0.0.1:8000/api/invites/', {
                                method: 'POST',
                                headers: { 'Content-Type': 'application/json' },
                                body: JSON.stringify({
                                    event_id: eventId,
                                    person_id: playerId,
                                    state: 4 
                                })
                            });
                        };

                        Promise.all([
                            inviteFight(attacker1),
                            inviteFight(attacker2),
                            inviteFight(defender1),
                            inviteFight(defender2)
                        ])
                        .then(() => {
                            return fetch('http://127.0.0.1:8000/api/events/', {
                                method: 'PATCH',
                                headers: { 'Content-Type': 'application/json' },
                                body: JSON.stringify({
                                    event_id: eventId,
                                    state: 3
                                })
                            });
                        })
                        .then(() => {
                            window.location.href = `{% url 'event' %}?event_id=${eventId}`;
                        })
                        .catch(error => {
                            console.error('Ошибка при отправке приглашений на бой:', error);
                            alert('Произошла ошибка при отправке приглашений. Попробуйте снова.');
                        });
                    });
                </script>
                            </div>
            </div>
        {% endif %}
        {% if event_data.state == 3 %}
        <div class="invite-section">
        <h4>Приглашённые игроки:</h4>
        <div id="invited-players-list"></div>

            <button type="submit" id="finish-button" style="width: auto; margin: 30px auto;">Завершить</button>
            </div>

        <script>

        const eventId = "{{ event_data.id }}"; 

        fetch('http://127.0.0.1:8000/api/invites/?event_id=' + eventId)
            .then(response => response.json())
            .then(data => {
                console.log(data); 
                const invitedPlayersList = document.getElementById('invited-players-list');
                invitedPlayersList.innerHTML = ''; 

                const selectedInvites = data.data.filter(invite => invite.state === 4);

                selectedInvites.forEach(invite => {
                    const playerHtml = `
                        <div>
                            ${invite.person_id.stats.name} (${invite.person_id.stats.level} уровень) - Выбран на бой
                        </div>
                    `;
                    invitedPlayersList.insertAdjacentHTML('beforeend', playerHtml);
                });
            })
            .catch(error => {
                console.error('Ошибка при получении данных:', error); 
            });


            document.getElementById('finish-button').addEventListener('click', function() {
                fetch('http://127.0.0.1:8000/api/events/', {
                    method: 'PATCH',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({
                        event_id: eventId,
                        state: 4
                    })
                })
                .then(() => {
                    window.location.href = "{% url 'fight' %}?event_id=" + eventId;
                });
            });
        </script>
        
        {% endif %}

    {% endif %}
{% endblock %}