{% extends 'base.html' %}

{% block content %}
        <div>Fight</div>
        {{ fight_data }}
        <!--
                1)Рендерим форму. Если есть в поле зрения данные fight_data
                то вставляем их
                Данные которые должны прийти
                {
              "id": целочисленное значение,   !РЕНДЕРИТЬ НЕ НУЖНО
              "name": строковое значение,     !РЕНДЕРИМ"
              "type": целочисленное значение  (1, "Атака"),
                                              (2, "Защита"),
              "date": целочисленное значение timestampt (нужно будет преобразовать в дату и время чтобы было удобно понимать.
                  часовой пояс берез из браузера (если это конечно возможно),
              "voevoda_id": целочисленное значение,   ! РЕНДЕРИТЬ НЕ НУЖНО
              "attack_1_pers": {
                  "id": целочисленное значение,   ! РЕНДЕРИТЬ НЕ НУЖНО
                  "name": строковое значение, !РЕНДЕРИМ И ПРЯЧЕМ ПОД НЕЕ ПЕРЕХОД НА "{% url 'player' %}?player_id=[ID из поля выше]"
                  "level": целочисленное значение,   ! РЕНДЕРИТЬ НЕ НУЖНО
                  "clan": целочисленное значение,     ! РЕНДЕРИТЬ НЕ НУЖНО
                  "umka_knight": целочисленное значение,    ! РЕНДЕРИТЬ НЕ НУЖНО
                  "umka_necro": целочисленное значение,   ! РЕНДЕРИТЬ НЕ НУЖНО
                  "umka_mag": целочисленное значение,   ! РЕНДЕРИТЬ НЕ НУЖНО
                  "umka_elf": целочисленное значение,   ! РЕНДЕРИТЬ НЕ НУЖНО
                  "umka_barbar": целочисленное значение,    ! РЕНДЕРИТЬ НЕ НУЖНО
                  "umka_black_elf": целочисленное значение,   ! РЕНДЕРИТЬ НЕ НУЖНО
                  "umka_demon": целочисленное значение,   ! РЕНДЕРИТЬ НЕ НУЖНО
                  "umka_dwarf": целочисленное значение,   ! РЕНДЕРИТЬ НЕ НУЖНО
                  "umka_step_barb": целочисленное значение,   ! РЕНДЕРИТЬ НЕ НУЖНО
                  "umka_pharaon": целочисленное значение,   ! РЕНДЕРИТЬ НЕ НУЖНО
                  "gild_hunt": целочисленное значение,    ! РЕНДЕРИТЬ НЕ НУЖНО
                  "gild_work": целочисленное значение,    ! РЕНДЕРИТЬ НЕ НУЖНО
                  "gild_card": целочисленное значение,    ! РЕНДЕРИТЬ НЕ НУЖНО
                  "gild_thief": целочисленное значение,   ! РЕНДЕРИТЬ НЕ НУЖНО
                  "gild_ranger": целочисленное значение,    ! РЕНДЕРИТЬ НЕ НУЖНО
                  "gild_mers": целочисленное значение,    ! РЕНДЕРИТЬ НЕ НУЖНО
                  "gild_tactic": целочисленное значение,    ! РЕНДЕРИТЬ НЕ НУЖНО
                  "gild_gard": целочисленное значение,    ! РЕНДЕРИТЬ НЕ НУЖНО
                  "gild_seekers": целочисленное значение,   ! РЕНДЕРИТЬ НЕ НУЖНО
                  "gild_leader": целочисленное значение,    ! РЕНДЕРИТЬ НЕ НУЖНО
                  "gild_blacksmith": целочисленное значение,    ! РЕНДЕРИТЬ НЕ НУЖНО
                  "gild_gunsmith": целочисленное значение   ! РЕНДЕРИТЬ НЕ НУЖНО
              },
              "attack_2_pers": данные персонажа как выше, ! Рендерим по аналогии выше
              "defence_1_pers": данные персонажа как выше,  ! Рендерим по аналогии выше
              "defence_2_pers": данные персонажа как выше,  ! Рендерим по аналогии выше
              "attack_1_pers_preset": {
                  fraction -    (0, "Рыцарь"),    !РЕНДЕРИТЬ НЕ НУЖНО
                                (1, "Некромант"),
                                (2, "Маг"),
                                (3, "Эльф"),
                                (4, "Варвар"),
                                (5, "Темный эльф"),
                                (6, "Демон"),
                                (7, "Гном"),
                                (8, "Степной варвар"),
                                (9, "Фараон"),  нужно из числового значения отрендерить строку

                name - строковое поле   !РЕНДЕРИМ И ПРЯЧЕМ ПОД НЕЕ ПЕРЕХОД НА " % url 'preset' %?preset_id=[ID из поля выше]"
                description - большое строковое поле    !РЕНДЕРИТЬ НЕ НУЖНО
              },
              "attack_2_pers_preset": данные пресета как выше,    !РЕНДЕРИМ КАК ВЫШЕ
              "defence_1_pers_preset": данные пресета как выше,   !РЕНДЕРИМ КАК ВЫШЕ
              "defence_2_pers_preset": данные пресета как выше,   !РЕНДЕРИМ КАК ВЫШЕ
              "result": целочисленное значение  (1, "Победа стороны атаки"),
                                                (2, "Победа стороны защиты"),
                                                  !РЕНДЕРИМ
              "description": строковое значение   !РЕНДЕРИМ
            }
            Добавить кнопку УДАЛИТЬ
            При нажатии на кнопку (УДАЛИТЬ) - посылается запрос
                url: http://127.0.0.1:8000/api/fights/
                type: DELETE
                params: fight_id={{ fight_data.id }}

                И выпрыгиваем не предыдущую страницу

           2) Если данных fight_data нет
           ТО СМОТРИМ ЕСТЬ ЛИ ПЕРЕМЕННАЯ event_id
           ЕСли она есть, то выполняем 2 запроса

                url: "http://127.0.0.1:8000/api/events/"
                type: "GET"
                params: {"event_id": event_id}

                Из полученного результата берем ТИП (атака или защита)
                название
                Дату и время
                Соперника (enemy)

                второй запрос

                url: http://127.0.0.1:8000/api/invites/
                        type: GET
                        params = {
                        "event_id": ID ивента,
                        "state__in": 4
                }

                Берем полученные данные и вставляем в формы

           В случае если event_id == null


           ДОБАВИТЬ
           Также форма для выбора клана,
           Она состоит из текстового поля, когда в него вводишь символы (не менее 3-х),
           то с задержкой в 2 секунды отправляется запрос
                url = "http://127.0.0.1:8000/api/clans"
                params = {
                        "clan_name": введенные символы
                }

                res = {
                        [
                                {
                                        'id': целочисленное поле,
                                        'name': строковое поле,
                                        'label': гифка,
                                        'alliance': null или {
                                                'id': целочисленное поле,
                                                'name': строковое поле,
                                                'label': гифка,
                                        }
                                }
                        ]
                }
               Пользователь выбирает клан из списка и далее
               и далее если речь идет о стороне атаки
               "attack_1_pers" и "attack_2_pers"
               То когда выбрали клан, нужно вытянуть игроков этого клана
               + игроков из клана alliance (если он есть)
               url: http://127.0.0.1:8000/api/players/
                        type: GET
                        params: clan_id={{ clan_id }}

                        ОТВЕТ:
                        data: [
                                {
                                    "id": целочисленное значение,
                                    "name": строковое значение, спрятать ссылку https://www.heroeswm.ru/pl_info.php?id=[ID из поля выше],
                                    "level": целочисленное значение,
                                    "clan": целочисленное значение, - его отображать не нужно
                                    "umka_knight": целочисленное значение,
                                    "umka_necro": целочисленное значение,
                                    "umka_mag": целочисленное значение,
                                    "umka_elf": целочисленное значение,
                                    "umka_barbar": целочисленное значение,
                                    "umka_black_elf": целочисленное значение,
                                    "umka_demon": целочисленное значение,
                                    "umka_dwarf": целочисленное значение,
                                    "umka_step_barb": целочисленное значение,
                                    "umka_pharaon": целочисленное значение,
                                    "gild_hunt": целочисленное значение,
                                    "gild_work": целочисленное значение,
                                    "gild_card": целочисленное значение,
                                    "gild_thief": целочисленное значение,
                                    "gild_ranger": целочисленное значение,
                                    "gild_mers": целочисленное значение,
                                    "gild_tactic": целочисленное значение,
                                    "gild_gard": целочисленное значение,
                                    "gild_seekers": целочисленное значение,
                                    "gild_leader": целочисленное значение,
                                    "gild_blacksmith": целочисленное значение,
                                    "gild_gunsmith": целочисленное значение
                                    "person_id": целочисленное значение
                                 }

                            Далее для стороны защиты точно также выбираем КЛАН
                            и после этого вытягиваем всех игроков (но для стороны защиты)
                            на alliance мы не смотрим

                            Далее нужно выбрать пресеты для для всех сторон
                            Данные о всех доступных пресетах уже есть и загружены
                            в переменной presets_data
                            presets_data  = [
                                {
                                        "id": целочисленное значение, - рендерить не нужно
                                          "voevoda_id": целочисленное значение, - рендерить не нужно
                                          "fraction": целочисленное значение, (0, "Рыцарь"),
                                                                              (1, "Некромант"),
                                                                              (2, "Маг"),
                                                                              (3, "Эльф"),
                                                                              (4, "Варвар"),
                                                                              (5, "Темный эльф"),
                                                                              (6, "Демон"),
                                                                              (7, "Гном"),
                                                                              (8, "Степной варвар"),
                                                                              (9, "Фараон"), - нужно из числового значения отрендерить строку
                                          "name": строковое значение,  под название спрятать переход на url ниже, где preset_id = ID выше
                                          "description": строковое значение (может быть длинным) рендерить не нужно
                                }
                            ]

                            после заполнения всех параметров, при нажатии на кнопку
                            ДОБАВИТЬ - отправляем запрос
                        url: http://127.0.0.1:8000/api/fights/
                        type: POST
                        body: {
                                voevoda_id: request.session.voevoda_id
                                name: название боя из формы
                                type: тип боя из формы
                                date: выбранная из формы дата и время преобразованная в timestamp
                                attack_1_pers: id персонажа из формы
                                attack_2_pers: id персонажа из формы
                                attack_1_pers_preset: id персонажа из формы
                                attack_2_pers_preset: id персонажа из формы
                                defence_1_pers: id пресета из формы
                                defence_2_pers: id пресета из формы
                                defence_1_pers_preset: id пресета из формы
                                defence_2_pers_preset: id пресета из формы
                                result: результат боя из формы
                                description: комментарий к бою из формы
                        }

                        после сохранения спрыгивам на предыдущую страницу
        -->

    {% if fight_data %}
        <form id="fightForm">
            <label>Название боя:</label>
            <input type="text" name="name" value="{{ fight_data.name }}" />

            <label>Тип боя:</label>
            <select name="type">
                <option value="1" {% if fight_data.type == 1 %}selected{% endif %}>Атака</option>
                <option value="2" {% if fight_data.type == 2 %}selected{% endif %}>Защита</option>
            </select>

            <label>Дата и время:</label>
            <input type="datetime-local" name="date" value="{{ fight_data.date|date:"Y-m-d\TH:i" }}" />

            <label>Персонаж 1 атаки:</label>
            <a href="{% url 'player' %}?player_id={{ fight_data.attack_1_pers.id }}">{{ fight_data.attack_1_pers.name }}</a>

            <label>Персонаж 2 атаки:</label>
            <a href="{% url 'player' %}?player_id={{ fight_data.attack_2_pers.id }}">{{ fight_data.attack_2_pers.name }}</a>

            <label>Персонаж 1 защиты:</label>
            <a href="{% url 'player' %}?player_id={{ fight_data.defense_1_pers.id }}">{{ fight_data.defense_1_pers.name }}</a>

            <label>Персонаж 2 атаки:</label>
            <a href="{% url 'player' %}?player_id={{ fight_data.defense_2_pers.id }}">{{ fight_data.defense_2_pers.name }}</a>

            <label>Пресет персонажа 1 атаки:</label>
            <a href="{% url 'preset' %}?preset_id={{ fight_data.attack_1_pers_preset.id }}">{{ fight_data.attack_1_pers_preset.name }}</a>

            <label>Пресет персонажа 2 атаки:</label>
            <a href="{% url 'preset' %}?preset_id={{ fight_data.attack_2_pers_preset.id }}">{{ fight_data.attack_2_pers_preset.name }}</a>

            <label>Пресет персонажа 1 защиты:</label>
            <a href="{% url 'preset' %}?preset_id={{ fight_data.defense_1_pers_preset.id }}">{{ fight_data.defense_1_pers_preset.name }}</a>

            <label>Пресет персонажа 2 защиты:</label>
            <a href="{% url 'preset' %}?preset_id={{ fight_data.defense_2_pers_preset.id }}">{{ fight_data.defense_2_pers_preset.name }}</a>

            <label>Результат боя:</label>
            <select name="result">
                <option value="1" {% if fight_data.result == 1 %}selected{% endif %}>Победа атаки</option>
                <option value="2" {% if fight_data.result == 2 %}selected{% endif %}>Победа защиты</option>
            </select>

            <label>Описание:</label>
            <textarea name="description">{{ fight_data.description }}</textarea>
        </form>

        <button id="deleteFight">Удалить</button>
        <script>
                document.getElementById("deleteFight").addEventListener("click", function() {
                        const fightId = {{ fight_data.id }};

                        fetch(`http://127.0.0.1:8000/api/fights/`, {
                                method: 'DELETE',
                                headers: {
                                'Content-Type': 'application/json',
                                },
                                body: JSON.stringify({ fight_id: fightId })
                        }).then(response => {
                                if (response.ok) {
                                window.location.href = '/previous_page/';
                                } else {
                                console.error('Failed to delete fight');
                                }
                });
        });

        </script>
        {% if not fight_data %}
        {% if event_id %}
            <script>
                fetch(`http://127.0.0.1:8000/api/events/?event_id={{ event_id }}`)
                    .then(response => response.json())
                    .then(eventData => {
                        document.querySelector('input[name="name"]').value = eventData.name;
                        document.querySelector('select[name="type"]').value = eventData.type;
                        document.querySelector('input[name="date"]').value = new Date(eventData.date).toISOString().slice(0, 16);
                        fetch(`http://127.0.0.1:8000/api/invites/?event_id={{ event_id }}&state__in=4`)
                            .then(response => response.json())
                            .then(inviteData => {
                                document.querySelector('input[name="enemy"]').value = inviteData.enemy;
                            });
                    });

            </script>

            <form id="fightForm">
                <label>Название боя:</label>
                <input type="text" name="name" />

                <label>Тип боя:</label>
                <select name="type">
                    <option value="1">Атака</option>
                    <option value="2">Защита</option>
                </select>

                <label>Дата и время:</label>
                <input type="datetime-local" name="date" />

                <label>Соперник:</label>
                <input type="text" name="enemy" />

            </form>

        {% else %}
            <form id="clanForm">
                <label>Выберите клан:</label>
                <input type="text" id="clanSearch" name="clan" placeholder="Введите не менее 3 символов" />

                <div id="clanResults"></div>

                <label>Персонажи атаки:</label>
                <select id="attack_1_pers"></select>
                <select id="attack_2_pers"></select>

                <label>Персонажи защиты:</label>
                <select id="defense_1_pers"></select>
                <select id="defense_2_pers"></select>

            </form>

            <script>
                let clanSearchTimeout;
                document.getElementById('clanSearch').addEventListener('input', function () {
                    clearTimeout(clanSearchTimeout);
                    const query = this.value;

                    if (query.length >= 3) {
                        clanSearchTimeout = setTimeout(function () {
                            fetch(`http://127.0.0.1:8000/api/clans/?clan_name=${query}`)
                                .then(response => response.json())
                                .then(clans => {
                                    const resultsDiv = document.getElementById('clanResults');
                                    resultsDiv.innerHTML = '';
                                    clans.forEach(clan => {
                                        const clanDiv = document.createElement('div');
                                        clanDiv.innerHTML = `<img src="${clan.label}" alt="Clan logo"/> <span>${clan.name}</span>`;
                                        clanDiv.addEventListener('click', function () {
                                            selectClan(clan.id);
                                        });
                                        resultsDiv.appendChild(clanDiv);
                                    });
                                });
                        }, 2000);
                    }
                });

                function selectClan(clan_id) {
                    fetch(`http://127.0.0.1:8000/api/players/?clan_id=${clan_id}`)
                        .then(response => response.json())
                        .then(players => {
                            const attack1Select = document.getElementById('attack_1_pers');
                            const attack2Select = document.getElementById('attack_2_pers');
                            const defense1Select = document.getElementById('defense_1_pers');
                            const defense2Select = document.getElementById('defense_2_pers');

                            attack1Select.innerHTML = '';
                            attack2Select.innerHTML = '';
                            defense1Select.innerHTML = '';
                            defense2Select.innerHTML = '';

                            players.forEach(player => {
                                const option = document.createElement('option');
                                option.value = player.id;
                                option.textContent = player.name;

                                attack1Select.appendChild(option.cloneNode(true));
                                attack2Select.appendChild(option.cloneNode(true));
                                defense1Select.appendChild(option.cloneNode(true));
                                defense2Select.appendChild(option.cloneNode(true));
                            });
                        });
                }
            </script>

        {% endif %}
    {% endif %}

    </div>

{% endblock %}