{% extends 'base.html' %}
{% load static %} 
{% block content %}
        <!--
          1)Делаем запрос для получения истории боев
            url: http://127.0.0.1:8000/api/fights/
            type: GET
            params: voevoda_id={{ request.session.voevoda_id }}

            ОТВЕТ будет список JSONов:
            data: [{
              "id": целочисленное значение,   !РЕНДЕРИТЬ НЕ НУЖНО
              "name": строковое значение,     !РЕНДЕРИМ И ПРЯЧЕМ ПОД НЕЕ ПЕРЕХОД НА "{% url 'fight' %}?fight_id=[ID из поля выше]"
              "type": целочисленное значение  (1, "Атака"),
                                              (2, "Защита"),
              "date": целочисленное значение timestampt (нужно будет преобразовать в дату и время чтобы было удобно понимать.
                  часовой пояс берез из браузера (если это конечно возможно),
              "voevoda_id": целочисленное значение,   ! РЕНДЕРИТЬ НЕ НУЖНО
              "attack_1_pers": {
                  "id": целочисленное значение,   ! РЕНДЕРИТЬ НЕ НУЖНО
                  "name": строковое значение, !РЕНДЕРИМ И ПРЯЧЕМ ПОД НЕЕ ПЕРЕХОД НА "{% url 'player' %}?player_id=[ID из поля выше]"
                  "level": целочисленное значение,   ! РЕНДЕРИТЬ НЕ НУЖНО
                  "clan": целочисленное значение,     ! РЕНДЕРИТЬ НЕ НУЖНО
                  "umka_knight": целочисленное значение,    ! РЕНДЕРИТЬ НЕ НУЖНО
                  "umka_necro": целочисленное значение,   ! РЕНДЕРИТЬ НЕ НУЖНО
                  "umka_mag": целочисленное значение,   ! РЕНДЕРИТЬ НЕ НУЖНО
                  "umka_elf": целочисленное значение,   ! РЕНДЕРИТЬ НЕ НУЖНО
                  "umka_barbar": целочисленное значение,    ! РЕНДЕРИТЬ НЕ НУЖНО
                  "umka_black_elf": целочисленное значение,   ! РЕНДЕРИТЬ НЕ НУЖНО
                  "umka_demon": целочисленное значение,   ! РЕНДЕРИТЬ НЕ НУЖНО
                  "umka_dwarf": целочисленное значение,   ! РЕНДЕРИТЬ НЕ НУЖНО
                  "umka_step_barb": целочисленное значение,   ! РЕНДЕРИТЬ НЕ НУЖНО
                  "umka_pharaon": целочисленное значение,   ! РЕНДЕРИТЬ НЕ НУЖНО
                  "gild_hunt": целочисленное значение,    ! РЕНДЕРИТЬ НЕ НУЖНО
                  "gild_work": целочисленное значение,    ! РЕНДЕРИТЬ НЕ НУЖНО
                  "gild_card": целочисленное значение,    ! РЕНДЕРИТЬ НЕ НУЖНО
                  "gild_thief": целочисленное значение,   ! РЕНДЕРИТЬ НЕ НУЖНО
                  "gild_ranger": целочисленное значение,    ! РЕНДЕРИТЬ НЕ НУЖНО
                  "gild_mers": целочисленное значение,    ! РЕНДЕРИТЬ НЕ НУЖНО
                  "gild_tactic": целочисленное значение,    ! РЕНДЕРИТЬ НЕ НУЖНО
                  "gild_gard": целочисленное значение,    ! РЕНДЕРИТЬ НЕ НУЖНО
                  "gild_seekers": целочисленное значение,   ! РЕНДЕРИТЬ НЕ НУЖНО
                  "gild_leader": целочисленное значение,    ! РЕНДЕРИТЬ НЕ НУЖНО
                  "gild_blacksmith": целочисленное значение,    ! РЕНДЕРИТЬ НЕ НУЖНО
                  "gild_gunsmith": целочисленное значение   ! РЕНДЕРИТЬ НЕ НУЖНО
              },
              "attack_2_pers": данные персонажа как выше, ! Рендерим по аналогии выше
              "defence_1_pers": данные персонажа как выше,  ! Рендерим по аналогии выше
              "defence_2_pers": данные персонажа как выше,  ! Рендерим по аналогии выше
              "attack_1_pers_preset": {
                  fraction -    (0, "Рыцарь"),    !РЕНДЕРИТЬ НЕ НУЖНО
                                (1, "Некромант"),
                                (2, "Маг"),
                                (3, "Эльф"),
                                (4, "Варвар"),
                                (5, "Темный эльф"),
                                (6, "Демон"),
                                (7, "Гном"),
                                (8, "Степной варвар"),
                                (9, "Фараон"),  нужно из числового значения отрендерить строку

                name - строковое поле   !РЕНДЕРИМ И ПРЯЧЕМ ПОД НЕЕ ПЕРЕХОД НА " % url 'preset' %?preset_id=[ID из поля выше]"
                description - большое строковое поле    !РЕНДЕРИТЬ НЕ НУЖНО
              },
              "attack_2_pers_preset": данные пресета как выше,    !РЕНДЕРИМ КАК ВЫШЕ
              "defence_1_pers_preset": данные пресета как выше,   !РЕНДЕРИМ КАК ВЫШЕ
              "defence_2_pers_preset": данные пресета как выше,   !РЕНДЕРИМ КАК ВЫШЕ
              "result": целочисленное значение  (1, "Победа стороны атаки"),
                                                (2, "Победа стороны защиты"),
                                                  !РЕНДЕРИМ и в зависимости от типа боя (об этом ниже)
                                                  выставляем победа(зеленым)/поражение(красным). Можно сделат красивые значки
                                                  ПРИ атаке 1 - победа, 2 - поражение
                                                  ПРИ защите 1 - поражение, 2 - победа
              "description": строковое значение   !РЕНДЕРИТЬ НЕ НУЖНО
            }]
        2)Получаем список боев и надо их разделить на 2 колонки
          1. Атаки (у них поле type == 1)
          2. Защиты (у них поле type == 2)
        3)Добавить кнопку - ДОБАВИТЬ БОЙ
          под ней спрятан переход на "{% url 'fight' %}"

        -->
        <div class="sh_MenuPanel" style="width: 10px;">
            <div class="mm_l"></div>
            <div class="mm_r"></div>
            <a href="{% url 'main' %}">
                <img src="{% static 'voevoda_app/images/arrow.png' %}" href="{% url 'main' %}" class="cursor_main_menu">
            </a>
            <div class="main_menu" hwm_label=""><a href="{% url 'main' %}">Главное меню</a></div>
            <div class="not_auth_text_on_buttons2">История боев</div>
        </div>
        <div class="event-container" style="align-items: center; width: 70%; margin: auto;">
            <div class="fight-columns">
                <div class="fight-section">
                    <h3>🗡️ Атаки:</h3>
                    <div id="attacks" class="fights-container"></div>
                </div>
        
                <div class="fight-section">
                    <h3>🛡️ Защиты:</h3>
                    <div id="defences" class="fights-container"></div>
                </div>
            </div>
        
            <div class="button-container">
                <a href="{% url 'fight' %}" class="add-preset-button">Добавить бой</a>
            </div>
        </div>
        
            <script>
                const timeZone = Intl.DateTimeFormat().resolvedOptions().timeZone;
        
                function formatDate(timestamp) {
                    const date = new Date(timestamp * 1000); 
                    return date.toLocaleString('ru-RU', { timeZone });
                }

                fetch(`http://127.0.0.1:8000/api/fights/?voevoda_id={{ request.session.voevoda_id }}`)
                    .then(response => response.json())
                    .then(data => {
                        const attacksDiv = document.getElementById('attacks');
                        const defencesDiv = document.getElementById('defences');
                        console.log(data);
                        data.data.forEach(fight => {
                            const fightDiv = document.createElement('div');
                            fightDiv.classList.add('fights');
        
                            const fightLink = document.createElement('a');
                            fightLink.href = `{% url 'fight' %}?fight_id=` + fight.id;
                            fightLink.textContent = fight.name;
        
                            const fightDate = document.createElement('p');
                            fightDate.textContent = `Дата: ${formatDate(fight.date)}`;
        
                            const attack1Link = document.createElement('a');
                            attack1Link.href = `{% url 'player' %}?player_id=` + fight.attack_1_pers.id;
                            attack1Link.textContent = fight.attack_1_pers.name;
        
                            const attack1Preset = document.createElement('a');
                            attack1Preset.href = `{% url 'present' %}?preset_id=` + fight.attack_1_pers_preset.id;
                            attack1Preset.textContent = fight.attack_1_pers_preset.name;

                            const attack2Link = document.createElement('a');
                            attack2Link.href = `{% url 'player' %}?player_id=` + fight.attack_2_pers.id;
                            attack2Link.textContent = fight.attack_2_pers.name;
        
                            const attack2Preset = document.createElement('a');
                            attack2Preset.href = `{% url 'present' %}?preset_id=` + fight.attack_2_pers_preset.id;
                            attack2Preset.textContent = fight.attack_2_pers_preset.name;
        
                            const defence1Link = document.createElement('a');
                            defence1Link.href = `{% url 'player' %}?player_id=` + fight.defence_1_pers.id;
                            defence1Link.textContent = fight.defence_1_pers.name;
        
                            const defence1Preset = document.createElement('a');
                            defence1Preset.href = `{% url 'present' %}?preset_id=` + fight.defence_1_pers_preset.id;
                            defence1Preset.textContent = fight.defence_1_pers_preset.name;

                            const defence2Link = document.createElement('a');
                            defence2Link.href = `{% url 'player' %}?player_id=` + fight.defence_2_pers.id;
                            defence2Link.textContent = fight.defence_2_pers.name;
        
                            const defence2Preset = document.createElement('a');
                            defence2Preset.href = `{% url 'present' %}?preset_id=` + fight.defence_2_pers_preset.id;
                            defence2Preset.textContent = fight.defence_2_pers_preset.name;
        
                            const result = document.createElement('span');
                            result.classList.add('result');
                            if (fight.result === 1 && fight.type === 1 || fight.result === 2 && fight.type === 2) {
                                result.textContent = 'Победа стороны атаки';
                            } else {
                                result.textContent = 'Победа стороны защиты';
                            }
  
                            fightDiv.appendChild(fightLink);
                            fightDiv.appendChild(fightDate);
                            fightDiv.appendChild(document.createTextNode('Игрок 1 атаки: '));
                            fightDiv.appendChild(attack1Link);
                            fightDiv.appendChild(document.createTextNode(' (' + attack1Preset.textContent + ')'));
                            fightDiv.appendChild(document.createElement('br'));
                            fightDiv.appendChild(document.createTextNode('Игрок 2 атаки: '));
                            fightDiv.appendChild(attack2Link);
                            fightDiv.appendChild(document.createTextNode(' (' + attack2Preset.textContent + ')'));
                            fightDiv.appendChild(document.createElement('br'));

                            fightDiv.appendChild(document.createTextNode('Игрок 1 защиты: '));
                            fightDiv.appendChild(defence1Link);
                            fightDiv.appendChild(document.createTextNode(' (' + defence1Preset.textContent + ')'));
                            fightDiv.appendChild(document.createElement('br'));
                            fightDiv.appendChild(document.createTextNode('Игрок 2 защиты: '));
                            fightDiv.appendChild(defence2Link);
                            fightDiv.appendChild(document.createTextNode(' (' + defence2Preset.textContent + ')'));
                            fightDiv.appendChild(document.createElement('br'));

                            fightDiv.appendChild(result);

                            if (fight.type === 1) {
                                attacksDiv.appendChild(fightDiv);
                            } else if (fight.type === 2) {
                                defencesDiv.appendChild(fightDiv);
                            }
                        });
                    })
                    .catch(error => console.error('Ошибка получения данных:', error));
            </script>
{% endblock %}