{% extends 'base.html' %}

{% block content %}
        <div>Fights</div>
        <!--
          1)Делаем запрос для получения истории боев
            url: http://127.0.0.1:8000/api/fights/
            type: GET
            params: voevoda_id={{ request.session.voevoda_id }}

            ОТВЕТ будет список JSONов:
            data: [{
              "id": целочисленное значение,   !РЕНДЕРИТЬ НЕ НУЖНО
              "name": строковое значение,     !РЕНДЕРИМ И ПРЯЧЕМ ПОД НЕЕ ПЕРЕХОД НА "{% url 'fight' %}?fight_id=[ID из поля выше]"
              "type": целочисленное значение  (1, "Атака"),
                                              (2, "Защита"),
              "date": целочисленное значение timestampt (нужно будет преобразовать в дату и время чтобы было удобно понимать.
                  часовой пояс берез из браузера (если это конечно возможно),
              "voevoda_id": целочисленное значение,   ! РЕНДЕРИТЬ НЕ НУЖНО
              "attack_1_pers": {
                  "id": целочисленное значение,   ! РЕНДЕРИТЬ НЕ НУЖНО
                  "name": строковое значение, !РЕНДЕРИМ И ПРЯЧЕМ ПОД НЕЕ ПЕРЕХОД НА "{% url 'player' %}?player_id=[ID из поля выше]"
                  "level": целочисленное значение,   ! РЕНДЕРИТЬ НЕ НУЖНО
                  "clan": целочисленное значение,     ! РЕНДЕРИТЬ НЕ НУЖНО
                  "umka_knight": целочисленное значение,    ! РЕНДЕРИТЬ НЕ НУЖНО
                  "umka_necro": целочисленное значение,   ! РЕНДЕРИТЬ НЕ НУЖНО
                  "umka_mag": целочисленное значение,   ! РЕНДЕРИТЬ НЕ НУЖНО
                  "umka_elf": целочисленное значение,   ! РЕНДЕРИТЬ НЕ НУЖНО
                  "umka_barbar": целочисленное значение,    ! РЕНДЕРИТЬ НЕ НУЖНО
                  "umka_black_elf": целочисленное значение,   ! РЕНДЕРИТЬ НЕ НУЖНО
                  "umka_demon": целочисленное значение,   ! РЕНДЕРИТЬ НЕ НУЖНО
                  "umka_dwarf": целочисленное значение,   ! РЕНДЕРИТЬ НЕ НУЖНО
                  "umka_step_barb": целочисленное значение,   ! РЕНДЕРИТЬ НЕ НУЖНО
                  "umka_pharaon": целочисленное значение,   ! РЕНДЕРИТЬ НЕ НУЖНО
                  "gild_hunt": целочисленное значение,    ! РЕНДЕРИТЬ НЕ НУЖНО
                  "gild_work": целочисленное значение,    ! РЕНДЕРИТЬ НЕ НУЖНО
                  "gild_card": целочисленное значение,    ! РЕНДЕРИТЬ НЕ НУЖНО
                  "gild_thief": целочисленное значение,   ! РЕНДЕРИТЬ НЕ НУЖНО
                  "gild_ranger": целочисленное значение,    ! РЕНДЕРИТЬ НЕ НУЖНО
                  "gild_mers": целочисленное значение,    ! РЕНДЕРИТЬ НЕ НУЖНО
                  "gild_tactic": целочисленное значение,    ! РЕНДЕРИТЬ НЕ НУЖНО
                  "gild_gard": целочисленное значение,    ! РЕНДЕРИТЬ НЕ НУЖНО
                  "gild_seekers": целочисленное значение,   ! РЕНДЕРИТЬ НЕ НУЖНО
                  "gild_leader": целочисленное значение,    ! РЕНДЕРИТЬ НЕ НУЖНО
                  "gild_blacksmith": целочисленное значение,    ! РЕНДЕРИТЬ НЕ НУЖНО
                  "gild_gunsmith": целочисленное значение   ! РЕНДЕРИТЬ НЕ НУЖНО
              },
              "attack_2_pers": данные персонажа как выше, ! Рендерим по аналогии выше
              "defence_1_pers": данные персонажа как выше,  ! Рендерим по аналогии выше
              "defence_2_pers": данные персонажа как выше,  ! Рендерим по аналогии выше
              "attack_1_pers_preset": {
                  fraction -    (0, "Рыцарь"),    !РЕНДЕРИТЬ НЕ НУЖНО
                                (1, "Некромант"),
                                (2, "Маг"),
                                (3, "Эльф"),
                                (4, "Варвар"),
                                (5, "Темный эльф"),
                                (6, "Демон"),
                                (7, "Гном"),
                                (8, "Степной варвар"),
                                (9, "Фараон"),  нужно из числового значения отрендерить строку

                name - строковое поле   !РЕНДЕРИМ И ПРЯЧЕМ ПОД НЕЕ ПЕРЕХОД НА " % url 'preset' %?preset_id=[ID из поля выше]"
                description - большое строковое поле    !РЕНДЕРИТЬ НЕ НУЖНО
              },
              "attack_2_pers_preset": данные пресета как выше,    !РЕНДЕРИМ КАК ВЫШЕ
              "defence_1_pers_preset": данные пресета как выше,   !РЕНДЕРИМ КАК ВЫШЕ
              "defence_2_pers_preset": данные пресета как выше,   !РЕНДЕРИМ КАК ВЫШЕ
              "result": целочисленное значение  (1, "Победа стороны атаки"),
                                                (2, "Победа стороны защиты"),
                                                  !РЕНДЕРИМ и в зависимости от типа боя (об этом ниже)
                                                  выставляем победа(зеленым)/поражение(красным). Можно сделат красивые значки
                                                  ПРИ атаке 1 - победа, 2 - поражение
                                                  ПРИ защите 1 - поражение, 2 - победа
              "description": строковое значение   !РЕНДЕРИТЬ НЕ НУЖНО
            }]
        2)Получаем список боев и надо их разделить на 2 колонки
          1. Атаки (у них поле type == 1)
          2. Защиты (у них поле type == 2)
        3)Добавить кнопку - ДОБАВИТЬ БОЙ
          под ней спрятан переход на "{% url 'fight' %}"

        -->
    <div class="url_box">
                <a href="{% url 'fight' %}" >Бой</a>
        </div>
{% endblock %}