{% extends 'base.html' %}

{% load static %} 
{% block content %}
        <!--
                1)Рендерим форму. Если есть в поле зрения данные fight_data
                то вставляем их
                Данные которые должны прийти
                {
              "id": целочисленное значение,   !РЕНДЕРИТЬ НЕ НУЖНО
              "name": строковое значение,     !РЕНДЕРИМ"
              "type": целочисленное значение  (1, "Атака"),
                                              (2, "Защита"),
              "date": целочисленное значение timestampt (нужно будет преобразовать в дату и время чтобы было удобно понимать.
                  часовой пояс берез из браузера (если это конечно возможно),
              "voevoda_id": целочисленное значение,   ! РЕНДЕРИТЬ НЕ НУЖНО
              "attack_1_pers": {
                  "id": целочисленное значение,   ! РЕНДЕРИТЬ НЕ НУЖНО
                  "name": строковое значение, !РЕНДЕРИМ И ПРЯЧЕМ ПОД НЕЕ ПЕРЕХОД НА "{% url 'player' %}?player_id=[ID из поля выше]"
                  "level": целочисленное значение,   ! РЕНДЕРИТЬ НЕ НУЖНО
                  "clan": целочисленное значение,     ! РЕНДЕРИТЬ НЕ НУЖНО
                  "umka_knight": целочисленное значение,    ! РЕНДЕРИТЬ НЕ НУЖНО
                  "umka_necro": целочисленное значение,   ! РЕНДЕРИТЬ НЕ НУЖНО
                  "umka_mag": целочисленное значение,   ! РЕНДЕРИТЬ НЕ НУЖНО
                  "umka_elf": целочисленное значение,   ! РЕНДЕРИТЬ НЕ НУЖНО
                  "umka_barbar": целочисленное значение,    ! РЕНДЕРИТЬ НЕ НУЖНО
                  "umka_black_elf": целочисленное значение,   ! РЕНДЕРИТЬ НЕ НУЖНО
                  "umka_demon": целочисленное значение,   ! РЕНДЕРИТЬ НЕ НУЖНО
                  "umka_dwarf": целочисленное значение,   ! РЕНДЕРИТЬ НЕ НУЖНО
                  "umka_step_barb": целочисленное значение,   ! РЕНДЕРИТЬ НЕ НУЖНО
                  "umka_pharaon": целочисленное значение,   ! РЕНДЕРИТЬ НЕ НУЖНО
                  "gild_hunt": целочисленное значение,    ! РЕНДЕРИТЬ НЕ НУЖНО
                  "gild_work": целочисленное значение,    ! РЕНДЕРИТЬ НЕ НУЖНО
                  "gild_card": целочисленное значение,    ! РЕНДЕРИТЬ НЕ НУЖНО
                  "gild_thief": целочисленное значение,   ! РЕНДЕРИТЬ НЕ НУЖНО
                  "gild_ranger": целочисленное значение,    ! РЕНДЕРИТЬ НЕ НУЖНО
                  "gild_mers": целочисленное значение,    ! РЕНДЕРИТЬ НЕ НУЖНО
                  "gild_tactic": целочисленное значение,    ! РЕНДЕРИТЬ НЕ НУЖНО
                  "gild_gard": целочисленное значение,    ! РЕНДЕРИТЬ НЕ НУЖНО
                  "gild_seekers": целочисленное значение,   ! РЕНДЕРИТЬ НЕ НУЖНО
                  "gild_leader": целочисленное значение,    ! РЕНДЕРИТЬ НЕ НУЖНО
                  "gild_blacksmith": целочисленное значение,    ! РЕНДЕРИТЬ НЕ НУЖНО
                  "gild_gunsmith": целочисленное значение   ! РЕНДЕРИТЬ НЕ НУЖНО
              },
              "attack_2_pers": данные персонажа как выше, ! Рендерим по аналогии выше
              "defence_1_pers": данные персонажа как выше,  ! Рендерим по аналогии выше
              "defence_2_pers": данные персонажа как выше,  ! Рендерим по аналогии выше
              "attack_1_pers_preset": {
                  fraction -    (0, "Рыцарь"),    
                                (1, "Некромант"),
                                (2, "Маг"),
                                (3, "Эльф"),
                                (4, "Варвар"),
                                (5, "Темный эльф"),
                                (6, "Демон"),
                                (7, "Гном"),
                                (8, "Степной варвар"),
                                (9, "Фараон"),  нужно из числового значения отрендерить строку

                name - строковое поле   !РЕНДЕРИМ И ПРЯЧЕМ ПОД НЕЕ ПЕРЕХОД НА " % url 'preset' %?preset_id=[ID из поля выше]"
                description - большое строковое поле    !РЕНДЕРИТЬ НЕ НУЖНО
              },
              "attack_2_pers_preset": данные пресета как выше,    !РЕНДЕРИМ КАК ВЫШЕ
              "defence_1_pers_preset": данные пресета как выше,   !РЕНДЕРИМ КАК ВЫШЕ
              "defence_2_pers_preset": данные пресета как выше,   !РЕНДЕРИМ КАК ВЫШЕ
              "result": целочисленное значение  (1, "Победа стороны атаки"),
                                                (2, "Победа стороны защиты"),
                                                  !РЕНДЕРИМ
              "description": строковое значение   !РЕНДЕРИМ
            }
            Добавить кнопку УДАЛИТЬ
            При нажатии на кнопку (УДАЛИТЬ) - посылается запрос
                url: http://127.0.0.1:8000/api/fights/
                type: DELETE
                params: fight_id={{ fight_data.id }}

                И выпрыгиваем не предыдущую страницу

           2) Если данных fight_data нет
           ТО СМОТРИМ ЕСТЬ ЛИ ПЕРЕМЕННАЯ event_id
           ЕСли она есть, то выполняем 2 запроса

                url: "http://127.0.0.1:8000/api/events/"
                type: "GET"
                params: {"event_id": event_id}

                Из полученного результата берем ТИП (атака или защита)
                название
                Дату и время
                Соперника (enemy)

                второй запрос

                url: http://127.0.0.1:8000/api/invites/
                        type: GET
                        params = {
                        "event_id": ID ивента,
                        "state__in": 4
                }

                Берем полученные данные и вставляем в формы

           В случае если event_id == null


           ДОБАВИТЬ
           Также форма для выбора клана,
           Она состоит из текстового поля, когда в него вводишь символы (не менее 3-х),
           то с задержкой в 2 секунды отправляется запрос
                url = "http://127.0.0.1:8000/api/clans"
                params = {
                        "clan_name": введенные символы
                }

                res = {
                        [
                                {
                                        'id': целочисленное поле,
                                        'name': строковое поле,
                                        'label': гифка,
                                        'alliance': null или {
                                                'id': целочисленное поле,
                                                'name': строковое поле,
                                                'label': гифка,
                                        }
                                }
                        ]
                }
               Пользователь выбирает клан из списка и далее
               и далее если речь идет о стороне атаки
               "attack_1_pers" и "attack_2_pers"
               То когда выбрали клан, нужно вытянуть игроков этого клана
               + игроков из клана alliance (если он есть)
               url: http://127.0.0.1:8000/api/players/
                        type: GET
                        params: clan_id={{ clan_id }}

                        ОТВЕТ:
                        data: [
                                {
                                    "id": целочисленное значение,
                                    "name": строковое значение, спрятать ссылку https://www.heroeswm.ru/pl_info.php?id=[ID из поля выше],
                                    "level": целочисленное значение,
                                    "clan": целочисленное значение, - его отображать не нужно
                                    "umka_knight": целочисленное значение,
                                    "umka_necro": целочисленное значение,
                                    "umka_mag": целочисленное значение,
                                    "umka_elf": целочисленное значение,
                                    "umka_barbar": целочисленное значение,
                                    "umka_black_elf": целочисленное значение,
                                    "umka_demon": целочисленное значение,
                                    "umka_dwarf": целочисленное значение,
                                    "umka_step_barb": целочисленное значение,
                                    "umka_pharaon": целочисленное значение,
                                    "gild_hunt": целочисленное значение,
                                    "gild_work": целочисленное значение,
                                    "gild_card": целочисленное значение,
                                    "gild_thief": целочисленное значение,
                                    "gild_ranger": целочисленное значение,
                                    "gild_mers": целочисленное значение,
                                    "gild_tactic": целочисленное значение,
                                    "gild_gard": целочисленное значение,
                                    "gild_seekers": целочисленное значение,
                                    "gild_leader": целочисленное значение,
                                    "gild_blacksmith": целочисленное значение,
                                    "gild_gunsmith": целочисленное значение
                                    "person_id": целочисленное значение
                                 }

                            Далее для стороны защиты точно также выбираем КЛАН
                            и после этого вытягиваем всех игроков (но для стороны защиты)
                            на alliance мы не смотрим

                            Далее нужно выбрать пресеты для для всех сторон
                            Данные о всех доступных пресетах уже есть и загружены
                            в переменной presets_data
                            presets_data  = [
                                {
                                        "id": целочисленное значение, - рендерить не нужно
                                          "voevoda_id": целочисленное значение, - рендерить не нужно
                                          "fraction": целочисленное значение, (0, "Рыцарь"),
                                                                              (1, "Некромант"),
                                                                              (2, "Маг"),
                                                                              (3, "Эльф"),
                                                                              (4, "Варвар"),
                                                                              (5, "Темный эльф"),
                                                                              (6, "Демон"),
                                                                              (7, "Гном"),
                                                                              (8, "Степной варвар"),
                                                                              (9, "Фараон"), - нужно из числового значения отрендерить строку
                                          "name": строковое значение,  под название спрятать переход на url ниже, где preset_id = ID выше
                                          "description": строковое значение (может быть длинным) рендерить не нужно
                                }
                            ]

                            после заполнения всех параметров, при нажатии на кнопку
                            ДОБАВИТЬ - отправляем запрос
                        url: http://127.0.0.1:8000/api/fights/
                        type: POST
                        body: {
                                voevoda_id: request.session.voevoda_id
                                name: название боя из формы
                                type: тип боя из формы
                                date: выбранная из формы дата и время преобразованная в timestamp
                                attack_1_pers: id персонажа из формы
                                attack_2_pers: id персонажа из формы
                                attack_1_pers_preset: id персонажа из формы
                                attack_2_pers_preset: id персонажа из формы
                                defence_1_pers: id пресета из формы
                                defence_2_pers: id пресета из формы
                                defence_1_pers_preset: id пресета из формы
                                defence_2_pers_preset: id пресета из формы
                                result: результат боя из формы
                                description: комментарий к бою из формы
                        }

                        после сохранения спрыгивам на предыдущую страницу
        -->
        <div class="sh_MenuPanel" style="width: 10px;">
            <div class="mm_l"></div>
            <div class="mm_r"></div>
            <a href="{% url 'main' %}">
                <img src="{% static 'voevoda_app/images/arrow.png' %}" href="{% url 'main' %}" class="cursor_main_menu">
            </a>
            <div class="main_menu" hwm_label=""><a href="{% url 'fights' %}">История боев</a></div>
            <div class="not_auth_text_on_buttons2">История боев</div>
        </div>

    <div class="content-container">

        
        {% if fight_data %}
        <h2 class="fight-title">Информация о бое</h2>
            <form id="fightForm" class="styled-form">
                <label class="inline-label">Название боя:
                    <input type="text" name="name" value="{{ fight_data.name }}" />
                </label>

                <label class="inline-label"> Тип боя:
                <select name="type">
                    <option value="1" {% if fight_data.type == 1 %}selected{% endif %}>Атака</option>
                    <option value="2" {% if fight_data.type == 2 %}selected{% endif %}>Защита</option>
                </select>
                </label>

                <label class="inline-label">Дата и время:
                    <input type="datetime-local" name="date" value="{{ fight_data.date|date:"Y-m-d\TH:i" }}" />
                </label>
                <label class="inline-label">Персонаж 1 атаки:
                    <a href="{% url 'player' %}?player_id={{ fight_data.attack_1_pers.id }}" class="character-link">{{ fight_data.attack_1_pers.name }}</a>
                </label>
                <label class="inline-label">Персонаж 2 атаки:
                    <a href="{% url 'player' %}?player_id={{ fight_data.attack_2_pers.id }}" class="character-link">{{ fight_data.attack_2_pers.name }}</a>
                </label>
                <label class="inline-label">Персонаж 1 защиты:
                    <a href="{% url 'player' %}?player_id={{ fight_data.defence_1_pers.id }}" class="character-link">{{ fight_data.defence_1_pers.name }}</a>
                </label>
                <label class="inline-label">Персонаж 2 защиты:
                    <a href="{% url 'player' %}?player_id={{ fight_data.defence_2_pers.id }}" class="character-link">{{ fight_data.defence_2_pers.name }}</a>
                </label>
                <label class="inline-label">Пресет персонажа 1 атаки:
                    <a href="{% url 'present' %}?preset_id={{ fight_data.attack_1_pers_preset.id }}" class="preset-link">{{ fight_data.attack_1_pers_preset.name }}</a>
                </label>
                <label class="inline-label">Пресет персонажа 2 атаки:
                    <a href="{% url 'present' %}?preset_id={{ fight_data.attack_2_pers_preset.id }}" class="preset-link">{{ fight_data.attack_2_pers_preset.name }}</a>
                </label>
                <label class="inline-label">Пресет персонажа 1 защиты:
                    <a href="{% url 'present' %}?preset_id={{ fight_data.defence_1_pers_preset.id }}" class="preset-link">{{ fight_data.defence_1_pers_preset.name }}</a>
                </label>
                <label class="inline-label">Пресет персонажа 2 защиты:
                    <a href="{% url 'present' %}?preset_id={{ fight_data.defence_2_pers_preset.id }}" class="preset-link">{{ fight_data.defence_2_pers_preset.name }}</a>
                </label>
                <label class="inline-label">Результат боя:
                <select name="result">
                    <option value="1" {% if fight_data.result == 1 %}selected{% endif %}>Победа атаки</option>
                    <option value="2" {% if fight_data.result == 2 %}selected{% endif %}>Победа защиты</option>
                </select>
                </label>

                <label class="inline-label">Описание:
                    <textarea name="description">{{ fight_data.description }}</textarea>
                </label>
            </form>

            <button type="submit" id="deleteFight" style="width: auto; margin: 30px auto; background-color: #8b1513;">Удалить</button>

            <script>
                document.getElementById("deleteFight").addEventListener("click", function() {
                    const fightId = {{ fight_data.id }};
                    
                    fetch(`http://127.0.0.1:8000/api/fights/`, {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ fight_id: fightId })
                    }).then(response => {
                        if (response.ok) {
                            window.location.href = "{% url 'fights' %}";
                        } else {
                            console.error('Failed to delete fight');
                        }
                    });
                });
            </script>
        {% else %}
        <h2 class="fight-title">Добавить бой</h2>
            <form id="clanForm" class="styled-form">
                <label>Выберите клан для атаки:</label>
                <input type="text" id="clanSearchAttack" name="clan_attack" placeholder="Введите не менее 3 символов" list="clanListAttack" autocomplete="off"/>
                <datalist id="clanListAttack"></datalist>
                
                <label>Выберите клан для защиты:</label>
                <input type="text" id="clanSearchDefense" name="clan_defense" placeholder="Введите не менее 3 символов" list="clanListDefense" autocomplete="off"/>
                <datalist id="clanListDefense"></datalist>
                
                <div class="form-group">
                    <div class="inline-group">
                        <label>Игроки атаки:</label>
                        <select id="attack_1_pers"></select>
                        <select id="attack_2_pers"></select>
                    </div>
                
                    <div class="inline-group">
                        <label>Пресеты для атаки:</label>
                        <select id="attack_1_pers_preset"></select>
                        <select id="attack_2_pers_preset"></select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="inline-group">
                <label>Игроки защиты:</label>
                <select id="defense_1_pers"></select>
                <select id="defense_2_pers"></select>
            </div>
            <div class="inline-group">
                <label>Пресеты для защиты:</label>
                <select id="defense_1_pers_preset"></select>
                <select id="defense_2_pers_preset"></select>
            </div>
        </div>
                <label for="fight-name">Название боя:</label>
                <input type="text" id="fight-name" name="name" required>
            
                <label for="fight-type">Тип боя:</label>
                <select id="fight-type" name="type" required>
                    <option value="1">Атака</option>
                    <option value="2">Защита</option>
                </select>
            
                <label for="fight-date">Дата и время боя:</label>
                <input type="datetime-local" id="fight-date" name="date" required style="width: 97%;">
            
                <label for="fight-result">Результат боя:</label>
                <input type="text" id="fight-result" name="result">
            
                <label for="fight-description">Комментарий к бою:</label>
                <textarea id="fight-description" name="description" style="width: 97%;"></textarea>
            
                <button type="submit" id="submitFight" style="width: auto; margin: 10px auto;">ДОБАВИТЬ</button>
            </form>
        
        <script>
            const voevodaId = "{{ request.session.voevoda_id }}";
            let clanSearchTimeout;         
            function searchClan(inputId, listId, isAttack) {
                const searchInput = document.getElementById(inputId);
                const clanList = document.getElementById(listId);

                searchInput.addEventListener('input', function () {
                    clearTimeout(clanSearchTimeout);
                    const query = this.value;

                    if (query.length >= 3) {
                        clanSearchTimeout = setTimeout(function () {
                            fetch(`http://127.0.0.1:8000/api/clans/?clan_name=${encodeURIComponent(query)}`)
                                .then(response => response.json())
                                .then(clans => {
                                    clanList.innerHTML = '';
                                    clans.data.forEach(clan => {
                                        const option = document.createElement('option');
                                        option.value = clan.name;
                                        option.dataset.id = clan.id;
                                        clanList.appendChild(option);
                                    });
                                });
                        }, 500);
                    }
                });

                searchInput.addEventListener('change', function () {
                    const selectedOption = Array.from(clanList.options).find(option => option.value === this.value);
                    if (selectedOption) {
                        const clanId = selectedOption.dataset.id;
                        if (isAttack) {
                            loadPlayersForAttack(clanId);
                        } else {
                            loadPlayersForDefense(clanId);
                        }
                    }
                });
            }

            function loadPlayersForAttack (clanId) {
                fetch(`http://127.0.0.1:8000/api/players/?clan_id=${clanId}`)
                    .then(response => response.json())
                    .then(players => {
                        clearPlayerSelects('attack_1_pers', 'attack_2_pers');

                        addPlayersToSelect(players.data, 'attack_1_pers', 'attack_2_pers');

                        if (players.alliance && players.alliance.id) {
                            fetch(`http://127.0.0.1:8000/api/players/?clan_id=${players.alliance.id}`)
                                .then(response => response.json())
                                .then(alliancePlayers => {
                                    addPlayersToSelect(alliancePlayers.data, 'attack_1_pers', 'attack_2_pers');
                                });
                        }
                        loadPresets('attack_1_pers_preset', 'attack_2_pers_preset');
                    });
            }

            function loadPlayersForDefense(clanId) {
                fetch(`http://127.0.0.1:8000/api/players/?clan_id=${clanId}`)
                    .then(response => response.json())
                    .then(players => {
                        clearPlayerSelects('defense_1_pers', 'defense_2_pers');
                        addPlayersToSelect(players.data, 'defense_1_pers', 'defense_2_pers');
                        loadPresets('defense_1_pers_preset', 'defense_2_pers_preset');
                    });
            }

            function clearPlayerSelects(...selectIds) {
                selectIds.forEach(id => {
                    const select = document.getElementById(id);
                    select.innerHTML = '';
                });
            }

            function addPlayersToSelect(players, selectId1, selectId2) {
                const select1 = document.getElementById(selectId1);
                const select2 = document.getElementById(selectId2);

                players.forEach(player => {
                    const option = document.createElement('option');
                    option.value = player.id;
                    option.textContent = player.name;

                    select1.appendChild(option.cloneNode(true));
                    select2.appendChild(option.cloneNode(true));
                });
            }

                function loadPresets(selectId1, selectId2) {
                    const voevodaId = "{{ request.session.voevoda_id }}";

                    fetch(`http://127.0.0.1:8000/api/presets/?voevoda_id=${voevodaId}`, {
                        method: 'GET',
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': `Bearer ${sessionStorage.getItem('token')}`  
                        }
                    })
                    .then(response => response.json())
                    .then(presets => {
                        const select1 = document.getElementById(selectId1);
                        const select2 = document.getElementById(selectId2);
                        select1.innerHTML = '';
                        select2.innerHTML = '';

                        presets.data.forEach(preset => {
                            const option = document.createElement('option');
                            option.value = preset.id;
                            option.textContent = `${preset.name} (${getFractionName(preset.fraction)})`;

                            select1.appendChild(option.cloneNode(true));
                            select2.appendChild(option.cloneNode(true));
                        });
                    })
                }

                function getFractionName(fractionId) {
                    const fractions = {
                        0: "Рыцарь",
                        1: "Некромант",
                        2: "Маг",
                        3: "Эльф",
                        4: "Варвар",
                        5: "Темный эльф",
                        6: "Демон",
                        7: "Гном",
                        8: "Степной варвар",
                        9: "Фараон"
                    };
                    return fractions[fractionId] || "Неизвестная фракция";
                }


            searchClan('clanSearchAttack', 'clanListAttack', true); 
            searchClan('clanSearchDefense', 'clanListDefense', false);  

            document.getElementById('submitFight').addEventListener('click', function () {
                const fightData = {
                    voevoda_id: voevodaId, 
                    name: document.getElementById('fight-name').value,
                    type: document.getElementById('fight-type').value,
                    date: new Date(document.getElementById('fight-date').value).getTime() / 1000, 
                    description: document.getElementById('fight-description').value,
                    result: document.getElementById('fight-result').value,
                    attack_1_pers: document.getElementById('attack_1_pers').value,
                    attack_2_pers: document.getElementById('attack_2_pers').value,
                    defence_1_pers: document.getElementById('defense_1_pers').value,
                    defence_2_pers: document.getElementById('defense_2_pers').value,
                    attack_1_pers_preset: document.getElementById('attack_1_pers_preset').value,
                    attack_2_pers_preset: document.getElementById('attack_2_pers_preset').value,
                    defence_1_pers_preset: document.getElementById('defense_1_pers_preset').value,
                    defence_2_pers_preset: document.getElementById('defense_2_pers_preset').value
                };

                fetch('http://127.0.0.1:8000/api/fights/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(fightData)
                }).then(response => response.json())
                .then(result => {
                    if (result.success) {
                        alert('Бой успешно добавлен!');
                        window.location.href = "{% url 'fights' %}";
                    } else {
                        alert('Ошибка при добавлении боя.');
                    }
                });
            });

        </script>
    {% if event_id %}
    <script>
        fetch(`http://127.0.0.1:8000/api/events/?event_id={{ event_id }}`)
            .then(response => response.json())
            .then(eventData => {
                const event = eventData.data;
                document.getElementById('fight-name').value = event.name;
                document.getElementById('fight-type').value = event.type; 
                
                fetch(`http://127.0.0.1:8000/api/clans/?clan_id={{request.session.clan_id}}`)
                    .then(response => response.json())
                    .then(data => {
                        const clanData = data.data;
                        if (event.type == 1) {
                            document.getElementById('clanSearchAttack').value = clanData.name;
                        } else {
                            document.getElementById('clanSearchDefense').value = clanData.name;
                        }
                    });
    
                if (event.type == 1) {
                    document.getElementById('clanSearchDefense').value = event.enemy.name;
                } else {
                    document.getElementById('clanSearchAttack').value = event.enemy.name;
                }
                const date = new Date(event.date * 1000);
                document.getElementById('fight-date').value = date.toISOString().slice(0, 16);
    
                fetch(`http://127.0.0.1:8000/api/invites/?event_id={{ event_id }}&state__in=4`)
                    .then(response => response.json())
                    .then(inviteData => {
                        let players = inviteData.data.map(invite => invite.person_id.stats); 
                        console.log(players)
                        if (event.type == 1) {

                            clearPlayerSelects('attack_1_pers', 'attack_2_pers');
                            addPlayersToSelect(players, 'attack_1_pers', 'attack_2_pers');
                            loadPresets('attack_1_pers_preset', 'attack_2_pers_preset');
                            loadPlayersForDefense(event.enemy.id);
                        } else {

                            clearPlayerSelects('defense_1_pers', 'defense_2_pers');
                            addPlayersToSelect(players, 'defense_1_pers', 'defense_2_pers');
                            loadPresets('defense_1_pers_preset', 'defense_2_pers_preset');
                            loadPlayersForAttack(event.enemy.id);
                        }
                    })
            })
    </script>
    {% endif %}
    {% endif %}
    
</div>

{% endblock %}