{% extends 'base.html' %}

{% block content %}
        <div>Fight</div>
        {{ fight_data }}
        <!--
                1)Рендерим форму. Если есть в поле зрения данные fight_data
                то вставляем их
                Данные которые должны прийти
                {
              "id": целочисленное значение,   !РЕНДЕРИТЬ НЕ НУЖНО
              "name": строковое значение,     !РЕНДЕРИМ"
              "type": целочисленное значение  (1, "Атака"),
                                              (2, "Защита"),
              "date": целочисленное значение timestampt (нужно будет преобразовать в дату и время чтобы было удобно понимать.
                  часовой пояс берез из браузера (если это конечно возможно),
              "voevoda_id": целочисленное значение,   ! РЕНДЕРИТЬ НЕ НУЖНО
              "attack_1_pers": {
                  "id": целочисленное значение,   ! РЕНДЕРИТЬ НЕ НУЖНО
                  "name": строковое значение, !РЕНДЕРИМ И ПРЯЧЕМ ПОД НЕЕ ПЕРЕХОД НА "{% url 'player' %}?player_id=[ID из поля выше]"
                  "level": целочисленное значение,   ! РЕНДЕРИТЬ НЕ НУЖНО
                  "clan": целочисленное значение,     ! РЕНДЕРИТЬ НЕ НУЖНО
                  "umka_knight": целочисленное значение,    ! РЕНДЕРИТЬ НЕ НУЖНО
                  "umka_necro": целочисленное значение,   ! РЕНДЕРИТЬ НЕ НУЖНО
                  "umka_mag": целочисленное значение,   ! РЕНДЕРИТЬ НЕ НУЖНО
                  "umka_elf": целочисленное значение,   ! РЕНДЕРИТЬ НЕ НУЖНО
                  "umka_barbar": целочисленное значение,    ! РЕНДЕРИТЬ НЕ НУЖНО
                  "umka_black_elf": целочисленное значение,   ! РЕНДЕРИТЬ НЕ НУЖНО
                  "umka_demon": целочисленное значение,   ! РЕНДЕРИТЬ НЕ НУЖНО
                  "umka_dwarf": целочисленное значение,   ! РЕНДЕРИТЬ НЕ НУЖНО
                  "umka_step_barb": целочисленное значение,   ! РЕНДЕРИТЬ НЕ НУЖНО
                  "umka_pharaon": целочисленное значение,   ! РЕНДЕРИТЬ НЕ НУЖНО
                  "gild_hunt": целочисленное значение,    ! РЕНДЕРИТЬ НЕ НУЖНО
                  "gild_work": целочисленное значение,    ! РЕНДЕРИТЬ НЕ НУЖНО
                  "gild_card": целочисленное значение,    ! РЕНДЕРИТЬ НЕ НУЖНО
                  "gild_thief": целочисленное значение,   ! РЕНДЕРИТЬ НЕ НУЖНО
                  "gild_ranger": целочисленное значение,    ! РЕНДЕРИТЬ НЕ НУЖНО
                  "gild_mers": целочисленное значение,    ! РЕНДЕРИТЬ НЕ НУЖНО
                  "gild_tactic": целочисленное значение,    ! РЕНДЕРИТЬ НЕ НУЖНО
                  "gild_gard": целочисленное значение,    ! РЕНДЕРИТЬ НЕ НУЖНО
                  "gild_seekers": целочисленное значение,   ! РЕНДЕРИТЬ НЕ НУЖНО
                  "gild_leader": целочисленное значение,    ! РЕНДЕРИТЬ НЕ НУЖНО
                  "gild_blacksmith": целочисленное значение,    ! РЕНДЕРИТЬ НЕ НУЖНО
                  "gild_gunsmith": целочисленное значение   ! РЕНДЕРИТЬ НЕ НУЖНО
              },
              "attack_2_pers": данные персонажа как выше, ! Рендерим по аналогии выше
              "defence_1_pers": данные персонажа как выше,  ! Рендерим по аналогии выше
              "defence_2_pers": данные персонажа как выше,  ! Рендерим по аналогии выше
              "attack_1_pers_preset": {
                  fraction -    (0, "Рыцарь"),    !РЕНДЕРИТЬ НЕ НУЖНО
                                (1, "Некромант"),
                                (2, "Маг"),
                                (3, "Эльф"),
                                (4, "Варвар"),
                                (5, "Темный эльф"),
                                (6, "Демон"),
                                (7, "Гном"),
                                (8, "Степной варвар"),
                                (9, "Фараон"),  нужно из числового значения отрендерить строку

                name - строковое поле   !РЕНДЕРИМ И ПРЯЧЕМ ПОД НЕЕ ПЕРЕХОД НА " % url 'preset' %?preset_id=[ID из поля выше]"
                description - большое строковое поле    !РЕНДЕРИТЬ НЕ НУЖНО
              },
              "attack_2_pers_preset": данные пресета как выше,    !РЕНДЕРИМ КАК ВЫШЕ
              "defence_1_pers_preset": данные пресета как выше,   !РЕНДЕРИМ КАК ВЫШЕ
              "defence_2_pers_preset": данные пресета как выше,   !РЕНДЕРИМ КАК ВЫШЕ
              "result": целочисленное значение  (1, "Победа стороны атаки"),
                                                (2, "Победа стороны защиты"),
                                                  !РЕНДЕРИМ
              "description": строковое значение   !РЕНДЕРИМ
            }
            Добавить кнопку УДАЛИТЬ
            При нажатии на кнопку (УДАЛИТЬ) - посылается запрос
                url: http://127.0.0.1:8000/api/fights/
                type: DELETE
                params: fight_id={{ fight_data.id }}

                И выпрыгиваем не предыдущую страницу

           2) Если данных fight_data нет
           ТО СМОТРИМ ЕСТЬ ЛИ ПЕРЕМЕННАЯ event_id
           ЕСли она есть, то выполняем 2 запроса

                url: "http://127.0.0.1:8000/api/events/"
                type: "GET"
                params: {"event_id": event_id}

                Из полученного результата берем ТИП (атака или защита)
                название
                Дату и время
                Соперника (enemy)

                второй запрос

                url: http://127.0.0.1:8000/api/invites/
                        type: GET
                        params = {
                        "event_id": ID ивента,
                        "state__in": 4
                }

                Берем полученные данные и вставляем в формы

           В случае если event_id == null


           ДОБАВИТЬ
           Также форма для выбора клана,
           Она состоит из текстового поля, когда в него вводишь символы (не менее 3-х),
           то с задержкой в 2 секунды отправляется запрос
                url = "http://127.0.0.1:8000/api/clans"
                params = {
                        "clan_name": введенные символы
                }

                res = {
                        [
                                {
                                        'id': целочисленное поле,
                                        'name': строковое поле,
                                        'label': гифка,
                                        'alliance': null или {
                                                'id': целочисленное поле,
                                                'name': строковое поле,
                                                'label': гифка,
                                        }
                                }
                        ]
                }
               Пользователь выбирает клан из списка и далее
               и далее если речь идет о стороне атаки
               "attack_1_pers" и "attack_2_pers"
               То когда выбрали клан, нужно вытянуть игроков этого клана
               + игроков из клана alliance (если он есть)
               url: http://127.0.0.1:8000/api/players/
                        type: GET
                        params: clan_id={{ clan_id }}

                        ОТВЕТ:
                        data: [
                                {
                                    "id": целочисленное значение,
                                    "name": строковое значение, спрятать ссылку https://www.heroeswm.ru/pl_info.php?id=[ID из поля выше],
                                    "level": целочисленное значение,
                                    "clan": целочисленное значение, - его отображать не нужно
                                    "umka_knight": целочисленное значение,
                                    "umka_necro": целочисленное значение,
                                    "umka_mag": целочисленное значение,
                                    "umka_elf": целочисленное значение,
                                    "umka_barbar": целочисленное значение,
                                    "umka_black_elf": целочисленное значение,
                                    "umka_demon": целочисленное значение,
                                    "umka_dwarf": целочисленное значение,
                                    "umka_step_barb": целочисленное значение,
                                    "umka_pharaon": целочисленное значение,
                                    "gild_hunt": целочисленное значение,
                                    "gild_work": целочисленное значение,
                                    "gild_card": целочисленное значение,
                                    "gild_thief": целочисленное значение,
                                    "gild_ranger": целочисленное значение,
                                    "gild_mers": целочисленное значение,
                                    "gild_tactic": целочисленное значение,
                                    "gild_gard": целочисленное значение,
                                    "gild_seekers": целочисленное значение,
                                    "gild_leader": целочисленное значение,
                                    "gild_blacksmith": целочисленное значение,
                                    "gild_gunsmith": целочисленное значение
                                    "person_id": целочисленное значение
                                 }

                            Далее для стороны защиты точно также выбираем КЛАН
                            и после этого вытягиваем всех игроков (но для стороны защиты)
                            на alliance мы не смотрим

                            Далее нужно выбрать пресеты для для всех сторон
                            Данные о всех доступных пресетах уже есть и загружены
                            в переменной presets_data
                            presets_data  = [
                                {
                                        "id": целочисленное значение, - рендерить не нужно
                                          "voevoda_id": целочисленное значение, - рендерить не нужно
                                          "fraction": целочисленное значение, (0, "Рыцарь"),
                                                                              (1, "Некромант"),
                                                                              (2, "Маг"),
                                                                              (3, "Эльф"),
                                                                              (4, "Варвар"),
                                                                              (5, "Темный эльф"),
                                                                              (6, "Демон"),
                                                                              (7, "Гном"),
                                                                              (8, "Степной варвар"),
                                                                              (9, "Фараон"), - нужно из числового значения отрендерить строку
                                          "name": строковое значение,  под название спрятать переход на url ниже, где preset_id = ID выше
                                          "description": строковое значение (может быть длинным) рендерить не нужно
                                }
                            ]

                            после заполнения всех параметров, при нажатии на кнопку
                            ДОБАВИТЬ - отправляем запрос
                        url: http://127.0.0.1:8000/api/fights/
                        type: POST
                        body: {
                                voevoda_id: request.session.voevoda_id
                                name: название боя из формы
                                type: тип боя из формы
                                date: выбранная из формы дата и время преобразованная в timestamp
                                attack_1_pers: id персонажа из формы
                                attack_2_pers: id персонажа из формы
                                attack_1_pers_preset: id персонажа из формы
                                attack_2_pers_preset: id персонажа из формы
                                defence_1_pers: id пресета из формы
                                defence_2_pers: id пресета из формы
                                defence_1_pers_preset: id пресета из формы
                                defence_2_pers_preset: id пресета из формы
                                result: результат боя из формы
                                description: комментарий к бою из формы
                        }

                        после сохранения спрыгивам на предыдущую страницу
        -->
{% endblock %}