{% extends 'base.html' %}

{% block content %}
        <div>PAYERS</div>
        <!--
                1)Запрашиваем список всех всех живых игроков относящихся к данному воеводе
                      url: http://127.0.0.1:8000/api/persons/
                      type: GET
                      params: voevoda_id=request.session.voevoda_id

                      ОТВЕТ будет огромный список JSONов:
                      data: [
                        {
                                "id": целочисленное значение,
                                "role": целочисленное значение  (1, "Воевода"),
                                                                (2, "Помощник воеводы"),
                                                                (100, "Игрок"),  Нужно при рендеринге преобразовать число в строку
                                "telegram_id": строковое значение,
                                "telegram_username": строковое значение,
                                "voevoda_id": целочисленное значение, - Рендерин не нужно
                                "activity": bool значение, (заменить на галочку или крестик)
                                "comment": строковое значение,
                                "stats": {
                                        "id": целочисленное значение,
                                        "name": строковое значение, спрятать ссылку https://www.heroeswm.ru/pl_info.php?id=[ID из поля выше],
                                        "level": целочисленное значение,
                                        "clan": целочисленное значение, - его отображать не нужно
                                        "umka_knight": целочисленное значение,
                                        "umka_necro": целочисленное значение,
                                        "umka_mag": целочисленное значение,
                                        "umka_elf": целочисленное значение,
                                        "umka_barbar": целочисленное значение,
                                        "umka_black_elf": целочисленное значение,
                                        "umka_demon": целочисленное значение,
                                        "umka_dwarf": целочисленное значение,
                                        "umka_step_barb": целочисленное значение,
                                        "umka_pharaon": целочисленное значение,
                                        "gild_hunt": целочисленное значение,
                                        "gild_work": целочисленное значение,
                                        "gild_card": целочисленное значение,
                                        "gild_thief": целочисленное значение,
                                        "gild_ranger": целочисленное значение,
                                        "gild_mers": целочисленное значение,
                                        "gild_tactic": целочисленное значение,
                                        "gild_gard": целочисленное значение,
                                        "gild_seekers": целочисленное значение,
                                        "gild_leader": целочисленное значение,
                                        "gild_blacksmith": целочисленное значение,
                                        "gild_gunsmith": целочисленное значение
                                },
                                "presets": [
                                        {
                                          "id": целочисленное значение, - рендерить не нужно
                                          "voevoda_id": целочисленное значение, - рендерить не нужно
                                          "fraction": целочисленное значение, (0, "Рыцарь"),
                                                                              (1, "Некромант"),
                                                                              (2, "Маг"),
                                                                              (3, "Эльф"),
                                                                              (4, "Варвар"),
                                                                              (5, "Темный эльф"),
                                                                              (6, "Демон"),
                                                                              (7, "Гном"),
                                                                              (8, "Степной варвар"),
                                                                              (9, "Фараон"), - нужно из числового значения отрендерить строку
                                          "name": строковое значение,  под название спрятать переход на url ниже, где preset_id = ID выше
                                          "description": строковое значение (может быть длинным)
                                          play_preset: bool значение, ставим галочку или крестик
                                ]

                        }, .....
                      ]

           -->
        <div class="url_box">
                <a href="{% url 'player' %}?player_id=4" >Игрок</a>
        </div>
{% endblock %}