{% extends 'base.html' %}

{% block content %}
        <div>Presets</div>
        <!--
            1)Запрашиваем список всех пресетов
              url: http://127.0.0.1:8000/api/presets/
              type: GET
              params: voevoda_id=request.session.voevoda_id

              ОТВЕТ:
              data: [
                {
                  "id": целочисленное значение, - рендерить не нужно
                  "voevoda_id": целочисленное значение, - рендерить не нужно
                  "fraction": целочисленное значение, (0, "Рыцарь"),
                                                      (1, "Некромант"),
                                                      (2, "Маг"),
                                                      (3, "Эльф"),
                                                      (4, "Варвар"),
                                                      (5, "Темный эльф"),
                                                      (6, "Демон"),
                                                      (7, "Гном"),
                                                      (8, "Степной варвар"),
                                                      (9, "Фараон"), - нужно из числового значения отрендерить строку
                  "name": строковое значение,  под название спрятать переход на url ниже, где preset_id = ID выше
                  "description": строковое значение (может быть длинным)
                }, .....
              ]
           2)Рендерим кнопку ДОБАВИТЬ
                При нажатии на кнопку переходим по URL
                <a href="{% url 'present' %}" >Пресет</a>
        -->
        <div class="url_box">
                <a href="{% url 'present' %}?preset_id=3" >Пресет</a>
        </div>

{% endblock %}