{% extends 'base.html' %}

{% block content %}
        <div>Preset</div>
        {{ preset_data }}
        <!--
                Делаем форму
                fraction -    (0, "Рыцарь"),
                              (1, "Некромант"),
                              (2, "Маг"),
                              (3, "Эльф"),
                              (4, "Варвар"),
                              (5, "Темный эльф"),
                              (6, "Демон"),
                              (7, "Гном"),
                              (8, "Степной варвар"),
                              (9, "Фараон"), - нужно из числового значения отрендерить строку
                name - строковое поле
                description - большое строковое поле

                {{ preset_data }} переменная будет содержать значения (если она пустая то форму оставляем пустой

                Добавляем кнопки (СОХРАНИТЬ в случае если изначально данных не было и ОБНОВИТЬ если были) и (УДАЛИТЬ если изначально данные были)

                При нажатии на кнопку (УДАЛИТЬ) - посылается запрос
                url: http://127.0.0.1:8000/api/presets/
                type: DELETE
                params: preset_id={{ preset_data.id }}

                И выпрыгиваем не предыдущую страницу

                При нажатии на кнопку СОХРАНИТЬ - отправляем запрос
                url: http://127.0.0.1:8000/api/presets/
                type: POST
                body: {
                        voevoda_id = request.session.voevoda_id,
                        fraction = то что выбрал пользователь
                        name = то что ввел пользователь
                        description = то что ввел пользователь
                }

                И выпрыгиваем не предыдущую страницу

                При нажатии на кнопку ОБНОВИТЬ - отправляем запрос
                url: http://127.0.0.1:8000/api/presets/
                type: PATCH
                body: {
                        preset_id = {{ preset_data.id }},
                        fraction = то что выбрал пользователь
                        name = то что ввел пользователь
                        description = то что ввел пользователь
                }

                И выпрыгиваем не предыдущую страницу
        -->
{% endblock %}